openapi: 3.1.0
info:
  title: Смарт Каса API v1.0.18
  version: 1.0.18
  description: |-
    ## Media Types

    ```
    Content-Type: application/json
    ```

    ## Відповіді від серверу

    Використовуються загальноприйняті [HTTP-коди відповідей](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md).

    ## Підпис запитів

    Кожен запит повинен супроводжуватись наявністю заголовку: ```X-API-KEY```. \
    Для запитів які потребують авторизації користувача повинен бути наявним додатково заголовок: ```Authorization```.
  contact:
    name: SmartKasa Support
    url: https://smartkasa.ua
  license:
    name: Proprietary
    url: https://www.smartkasa.ua/wp-content/uploads/2025/03/ukrtrimeks-api-integracziya.pdf
servers:
  - url: https://core.smartkasa.ua
    description: SmartKasa Production API Server
tags:
  - name: Авторизація
    description: Авторизація користувача на порталі, отримання сесійних ключів
  - name: Термінали
    description: Операції з ресурсами групи "Термінали"
  - name: Торгові точки
    description: Операції з ресурсами групи "Торгові точки"
  - name: Працівники
    description: Операції з ресурсами групи "Працівники"
  - name: Одиниці виміру
    description: Операції з ресурсами групи "Одиниці виміру"
  - name: Каталоги
    description: Операції з ресурсами групи "Каталоги"
  - name: Товари
    description: Операції з ресурсами групи "Товари"
  - name: Облік товарів
    description: Операції з ресурсами групи "Облік товарів"
  - name: Товарні підгрупи
    description: Операції з ресурсами групи "Товарні підгрупи"
  - name: Імпорт
    description: Операції з ресурсами групи "Імпорт"
  - name: Зміни
    description: Операції з ресурсами групи "Зміни"
  - name: POS
    description: Операції з ресурсами групи "POS"
  - name: Звітність
    description: Операції з ресурсами групи "Звітність"
paths:
  /api/v1/auth/sessions:
    summary: Вхід
    description: Процедура встановлення належності користувачеві інформації в системі по номеру телефона та паролю
    post:
      summary: Запити аутентифікації
      tags:
        - Авторизація
      operationId: post_api_v1_auth_sessions
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: null
                  access: eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MTY0MTc0OTcsInVzZXJfdHlwZV9pZCI6MSwib3duZXJfaWQiOjEwMzc1Nywicm9sZV9pZCI6bnVsbCwic2Vzc2lvbl90b2tlbiI6ImYxY2JmNWE1LTJkNDUtNGRjNi1hZDJhLTk0ZmUyZTZjM2ZkZSIsInVzZXJfaWQiOjEwMzc1NywidWlkIjoiZDU2OTM4YmMtMjU4Mi00YTJiLWFmZDgtMDk1ZmYyMjdmYjhkIiwiZXhwIjoxNjE2NTAwMjk3fQ.Y87pAVTWIGE7EWMdSgOSt4LSHaV4Ry_YQDfeL7RkKos
                  access_expires_at: '2021-03-23T13:51:37.000+02:00'
                  csrf: aPhV1ZNQyuoTStIlnw7PlSGU8jRMzhsu3voUrIxYmnJqZmzDGzYizlHIjGqGBbrTVfxJOQU98g+EAkcv9wRsJg==
                  refresh: eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MTY0MTc0OTcsInNlc3Npb25fdG9rZW4iOiJmMWNiZjVhNS0yZDQ1LTRkYzYtYWQyYS05NGZlMmU2YzNmZGUiLCJ1c2VyX2lkIjoxMDM3NTcsInVpZCI6Ijc5NWY0YWYzLWQ4MjUtNDUwYi1iZmJhLTVkZjFkZWRkNDg1MyIsImV4cCI6MTYxOTA0MzY0M30.oWTtZguR4e1LkAhWen8W8iKPWiit5xHW3cyu98EXtqg
                  refresh_expires_at: '2021-04-22T01:20:43.000+03:00'
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  base:
                    - error: phone_number_or_password_invalid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                  description: Номер телефону
                password:
                  type: string
                  description: Пароль
              required:
                - phone_number
                - password
              additionalProperties: true
            example:
              password: '123456789'
              phone_number: '380960000006'
      security:
        - ApiKeyAuth: []
  /api/v1/auth/refresh:
    summary: Поновлення токену авторизації для сесії
    post:
      summary: Запити поновлення токену
      tags:
        - Авторизація
      operationId: post_api_v1_auth_refresh
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: null
                  access: eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NzY5ODI3NjMsInVzZXJfdHlwZV9pZCI6MCwib3duZXJfaWQiOjk1LCJyb2xlX2lkIjpudWxsLCJzZXNzaW9uX3Rva2VuIjoiZjViNmJjODUtODI1My00MTdmLWJiMmMtMzMyYTZhOGU1NGE5IiwidXNlcl9pZCI6OTUsInVpZCI6ImRiYzhmYWMwLTBjMjctNDgwOS1hZGUxLTA2OGM0NTZmM2ZhNiIsImV4cCI6MTY3OTYwODkwOX0.HOjLHycrS62i7UqMPcXB4EMI2qpOdqINLHkbj92wXSo
                  access_expires_at: '2023-03-23T22:01:49.000+00:00'
                  csrf: xMt3hxr41k+snNPbQnKYF1FwAYA+PmRn7OrJh/tRVypD3mFX9/F/FtzIER55VXAwWpwHI6dxcpt083v0rKqYAw==
                  refresh: eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NzY5ODI3NjMsInNlc3Npb25fdG9rZW4iOiJmNWI2YmM4NS04MjUzLTQxN2YtYmIyYy0zMzJhNmE4ZTU0YTkiLCJ1c2VyX2lkIjo5NSwidWlkIjoiNDgwNTk1ZTItZmI3Yi00OGJmLWI0ZjUtZmViMThmOWZiODdkIiwiZXhwIjoxNjc5NjA4OTA5fQ.Kj7rUy9nFrljQjDJVifPSQnNZienDaSTV-CGj1QsPSg
                  refresh_expires_at: '2023-03-23T22:01:49.000+00:00'
                meta: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              example:
                message: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/auth/sessions/logout:
    summary: Вихід з системи
    delete:
      summary: Закриття поточної сесії
      tags:
        - Авторизація
      operationId: delete_api_v1_auth_sessions_logout
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 49cb6c02-9951-4c6b-9e55-e2d2b615f5bb
                meta: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              example:
                message: Unauthorized
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/pos/terminals:
    summary: Список терміналів
    get:
      summary: Отримання списку терміналів
      tags:
        - Термінали
      operationId: get_api_v1_pos_terminals
      parameters:
        - name: id
          in: query
          required: false
          description: Ідентифікатор терміналу
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: Назва терміналу
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: Ідентифікатор торгової точки
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Сторінка
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Кількіть записів на сторінку
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 20007
                    activated_at: null
                    core_terminal_id: 1
                    created_at: '2021-03-22T13:52:06.216+02:00'
                    name: Test terminal
                    picture:
                      id: cd8479459fe1e42d67d4be153101cbdc
                      filename: test.png
                      mime_type: image/png
                      size: 8132
                      url: /uploads/store/cd8479459fe1e42d67d4be153101cbdc
                    properties: null
                    serial_number: '108210974046530'
                    shop_id: 37958
                    state: 1
                    updated_at: '2021-03-22T13:52:06.216+02:00'
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 1
                  limit_value: 25
                  offset_value: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/pos/terminals/{id}:
    summary: Операції з терміналом
    get:
      summary: Отримання інформації про термінал
      tags:
        - Термінали
      operationId: get_api_v1_pos_terminals_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор терміналу
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: Назва терміналу
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: Ідентифікатор торгової точки
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 20011
                  activated_at: null
                  core_terminal_id: 1
                  created_at: '2021-03-22T13:52:06.603+02:00'
                  name: Test terminal
                  picture:
                    id: 3e276fb6692553a0ac665c9a48745dee
                    filename: test.png
                    mime_type: image/png
                    size: 8132
                    url: /uploads/store/3e276fb6692553a0ac665c9a48745dee
                  properties: null
                  serial_number: '981340041313795'
                  shop_id: 37963
                  state: 1
                  updated_at: '2021-03-22T13:52:06.603+02:00'
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    put:
      summary: Оновлення даних терміналу
      tags:
        - Термінали
      operationId: put_api_v1_pos_terminals_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор терміналу
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 20012
                  activated_at: null
                  core_terminal_id: 1
                  created_at: '2021-03-22T13:52:06.675+02:00'
                  name: Suscipit quis et odit.
                  picture:
                    id: 5889920bac63c1660e25da2592a61889
                    filename: test.png
                    mime_type: image/png
                    size: 8132
                    url: /uploads/store/5889920bac63c1660e25da2592a61889
                  properties: null
                  serial_number: '863684811804753'
                  shop_id: 37964
                  state: 1
                  updated_at: '2021-03-22T13:52:06.675+02:00'
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors: '[Pos::TerminalForm.new] "wrong" (String) has invalid type for :shop_id violates constraints (invalid value for Integer(): "wrong" failed)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Назва терміналу
                shop_id:
                  type: integer
                  description: Ідентифікатор торгової точки
              additionalProperties: true
            example:
              id: 20012
              name: Suscipit quis et odit.
              shop_id: 37964
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    delete:
      summary: Видалення терміналу
      tags:
        - Термінали
      operationId: delete_api_v1_pos_terminals_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор терміналу
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 20016
                  activated_at: null
                  core_terminal_id: 1
                  created_at: '2021-03-22T13:52:06.921+02:00'
                  name: Test terminal
                  properties: null
                  serial_number: '497787772057768'
                  shop_id: 1
                  state: 1
                  updated_at: '2021-03-22T13:52:06.921+02:00'
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  id:
                    - error: invalid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Назва терміналу
                shop_id:
                  type: string
                  description: Ідентифікатор торгової точки
              additionalProperties: true
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/rsn/shops:
    summary: Список торгових точок
    get:
      summary: Отримання списку торгових точок
      tags:
        - Торгові точки
      operationId: get_api_v1_rsn_shops
      parameters:
        - name: title
          in: query
          required: false
          description: Назва торгової точки
          schema:
            type: string
        - name: phone_number
          in: query
          required: false
          description: Номер телефону
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Email
          schema:
            type: string
        - name: address
          in: query
          required: false
          description: Об'єкт адреси
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: Статус
          schema:
            type: string
        - name: website_url
          in: query
          required: false
          description: Посилання на сайт
          schema:
            type: string
        - name: business_category_id
          in: query
          required: false
          description: Сфера діяльності
          schema:
            type: string
        - name: picture
          in: query
          required: false
          description: Зображення
          schema:
            type: string
        - name: fiscal_numbers
          in: query
          required: false
          description: Список номерів пРРО
          schema:
            type: string
        - name: fiscalization_enabled
          in: query
          required: false
          description: Ознака фіскалізації
          schema:
            type: string
        - name: is_vat_taxation
          in: query
          required: false
          description: Ознака платника ПДВ
          schema:
            type: string
        - name: is_excise_taxation
          in: query
          required: false
          description: Ознака додаткових зборів
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 37969
                    address:
                      id: 38197
                      address_type_id: 0
                      city_name: Київ
                      content: пров. Вічева, 17
                      created_at: '2021-03-22T13:52:08.214+02:00'
                      updated_at: '2021-03-22T13:52:08.214+02:00'
                      zip_code: '08800'
                    business_category_id: 1
                    created_at: '2021-03-22T13:52:08.206+02:00'
                    email: britt@macgyver.name
                    employees_count: 0
                    fiscal_numbers: []
                    fiscalization_enabled: false
                    is_excise_taxation: false
                    is_vat_taxation: true
                    owner_id: 1
                    phone_number: '0971234567'
                    state: 0
                    terminals_count: 0
                    title: Test shop
                    updated_at: '2021-03-22T13:52:08.206+02:00'
                    website_url: https://www.example.com
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 1
                  limit_value: 25
                  offset_value: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    post:
      summary: Створення нової торгової точки
      tags:
        - Торгові точки
      operationId: post_api_v1_rsn_shops
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 37968
                  address:
                    id: 38196
                    address_type_id: 0
                    city_name: Київ
                    content: вулиця Молодіжна, 195
                    created_at: '2021-03-22T13:52:08.158+02:00'
                    updated_at: '2021-03-22T13:52:08.158+02:00'
                    zip_code: '08800'
                  business_category_id: 1
                  created_at: '2021-03-22T13:52:08.148+02:00'
                  email: rolandekling@lockman.biz
                  employees_count: 0
                  fiscal_numbers: []
                  fiscalization_enabled: false
                  is_excise_taxation: false
                  is_vat_taxation: true
                  owner_id: 1
                  phone_number: '380971234567'
                  state: 0
                  terminals_count: 0
                  title: Test shop
                  updated_at: '2021-03-22T13:52:08.148+02:00'
                  website_url: https://www.example.com
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  title:
                    - error: blank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                email:
                  type: string
                phone_number:
                  type: string
                state:
                  type: integer
                website_url:
                  type: string
                business_category_id:
                  type: integer
                fiscal_numbers:
                  type: array
                  items:
                    type: object
                fiscalization_enabled:
                  type: boolean
                is_vat_taxation:
                  type: boolean
                is_excise_taxation:
                  type: boolean
                address:
                  type: object
              additionalProperties: true
            example:
              title: Test shop
              email: rolandekling@lockman.biz
              phone_number: '0971234567'
              state: 0
              website_url: https://www.example.com
              business_category_id: 1
              fiscal_numbers: []
              fiscalization_enabled: false
              is_vat_taxation: true
              is_excise_taxation: false
              address:
                zip_code: '08800'
                city_name: Київ
                content: вулиця Молодіжна, 195
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/rsn/shops/{id}:
    summary: Операції з торговою точкою
    get:
      summary: Інформація про торгову точку
      tags:
        - Торгові точки
      operationId: get_api_v1_rsn_shops_id
      parameters:
        - name: id
          in: path
          required: true
          description: 'ID параметр: id'
          schema:
            type: string
        - name: title
          in: query
          required: false
          description: Назва торгової точки
          schema:
            type: string
        - name: phone_number
          in: query
          required: false
          description: Номер телефону
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Email
          schema:
            type: string
        - name: address
          in: query
          required: false
          description: Об'єкт адреси
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: Статус
          schema:
            type: string
        - name: website_url
          in: query
          required: false
          description: Посилання на сайт
          schema:
            type: string
        - name: business_category_id
          in: query
          required: false
          description: Сфера діяльності
          schema:
            type: string
        - name: picture
          in: query
          required: false
          description: Зображення
          schema:
            type: string
        - name: fiscal_numbers
          in: query
          required: false
          description: Список номерів пРРО
          schema:
            type: string
        - name: fiscalization_enabled
          in: query
          required: false
          description: Ознака фіскалізації
          schema:
            type: string
        - name: is_vat_taxation
          in: query
          required: false
          description: Ознака платника ПДВ
          schema:
            type: string
        - name: is_excise_taxation
          in: query
          required: false
          description: Ознака додаткових зборів
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 37971
                  address:
                    id: 38199
                    address_type_id: 0
                    city_name: Київ
                    content: пл. Молодіжна, 151
                    created_at: '2021-03-22T13:52:08.350+02:00'
                    updated_at: '2021-03-22T13:52:08.350+02:00'
                    zip_code: '08800'
                  business_category_id: 1
                  created_at: '2021-03-22T13:52:08.347+02:00'
                  email: theresa@runolfon.com
                  employees_count: 0
                  fiscal_numbers: []
                  fiscalization_enabled: false
                  is_excise_taxation: false
                  is_vat_taxation: true
                  owner_id: 1
                  phone_number: '0971234567'
                  state: 0
                  terminals_count: 0
                  title: Test shop
                  updated_at: '2021-03-22T13:52:08.347+02:00'
                  website_url: https://www.example.com
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    put:
      summary: Оновлення даних торгової точки
      tags:
        - Торгові точки
      operationId: put_api_v1_rsn_shops_id
      parameters:
        - name: id
          in: path
          required: true
          description: 'ID параметр: id'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 37972
                  address:
                    id: 38200
                    address_type_id: 0
                    city_name: Київ
                    content: вулиця Молодіжна, 195
                    created_at: '2021-03-22T13:52:08.416+02:00'
                    updated_at: '2021-03-22T13:52:08.416+02:00'
                    zip_code: '08800'
                  business_category_id: 1
                  created_at: '2021-03-22T13:52:08.413+02:00'
                  email: rolandekling@lockman.biz
                  employees_count: 0
                  fiscal_numbers: []
                  fiscalization_enabled: false
                  is_excise_taxation: false
                  is_vat_taxation: true
                  owner_id: 1
                  phone_number: '380971234567'
                  state: 0
                  terminals_count: 0
                  title: New title
                  updated_at: '2021-03-22T13:52:08.413+02:00'
                  website_url: https://www.example.com
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  title:
                    - error: blank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Назва торгової точки
                phone_number:
                  type: string
                  description: Номер телефону
                email:
                  type: string
                  description: Email
                address:
                  type: object
                  description: Об'єкт адреси
                state:
                  type: integer
                  description: Статус
                website_url:
                  type: string
                  description: Посилання на сайт
                business_category_id:
                  type: integer
                  description: Сфера діяльності
                picture:
                  type: string
                  description: Зображення
                fiscal_numbers:
                  type: array
                  items:
                    type: object
                  description: Список номерів пРРО
                fiscalization_enabled:
                  type: boolean
                  description: Ознака фіскалізації
                is_vat_taxation:
                  type: boolean
                  description: Ознака платника ПДВ
                is_excise_taxation:
                  type: boolean
                  description: Ознака додаткових зборів
              additionalProperties: true
            example:
              title: New title
              email: rolandekling@lockman.biz
              phone_number: '0971234567'
              state: 0
              website_url: https://www.example.com
              business_category_id: 1
              fiscal_numbers: []
              fiscalization_enabled: false
              is_vat_taxation: true
              is_excise_taxation: false
              address:
                zip_code: '08800'
                city_name: Київ
                content: вулиця Молодіжна, 195
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    delete:
      summary: Видалення торгової точки
      tags:
        - Торгові точки
      operationId: delete_api_v1_rsn_shops_id
      parameters:
        - name: id
          in: path
          required: true
          description: 'ID параметр: id'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 37974
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Назва торгової точки
                phone_number:
                  type: string
                  description: Номер телефону
                email:
                  type: string
                  description: Email
                address:
                  type: string
                  description: Об'єкт адреси
                state:
                  type: string
                  description: Статус
                website_url:
                  type: string
                  description: Посилання на сайт
                business_category_id:
                  type: string
                  description: Сфера діяльності
                picture:
                  type: string
                  description: Зображення
                fiscal_numbers:
                  type: string
                  description: Список номерів пРРО
                fiscalization_enabled:
                  type: string
                  description: Ознака фіскалізації
                is_vat_taxation:
                  type: string
                  description: Ознака платника ПДВ
                is_excise_taxation:
                  type: string
                  description: Ознака додаткових зборів
              additionalProperties: true
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/rsn/shops/employees:
    summary: Перелік працівників на торговій точці
    get:
      summary: Отримання списку працівник на торговій точці
      tags:
        - Торгові точки
      operationId: get_api_v1_rsn_shops_employees
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 37970
                    employees:
                      - id: 1306
                        first_name: Потап
                        last_name: Майстренко
                        role_id: 1
                        state: 0
                        updated_at: '2021-03-22T13:52:08.280+02:00'
                    employees_count: 0
                    state: 0
                    title: Test shop
                meta:
                  total_count: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/rsn/employees:
    summary: Список працівників
    get:
      summary: Отримання списку працівників
      tags:
        - Працівники
      operationId: get_api_v1_rsn_employees
      parameters:
        - name: phone_number
          in: query
          required: false
          description: Номер телефону
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Email
          schema:
            type: string
        - name: first_name
          in: query
          required: false
          description: Ім’я
          schema:
            type: string
        - name: last_name
          in: query
          required: false
          description: Прізвище
          schema:
            type: string
        - name: middle_name
          in: query
          required: false
          description: По-Батькові
          schema:
            type: string
        - name: inn
          in: query
          required: false
          description: ІПН
          schema:
            type: string
        - name: passport_serial
          in: query
          required: false
          description: Паспорт - серія
          schema:
            type: string
        - name: passport_number
          in: query
          required: false
          description: Паспорт - номер
          schema:
            type: string
        - name: role_id
          in: query
          required: false
          description: Ідентифікатор посади
          schema:
            type: string
        - name: address_actual
          in: query
          required: false
          description: Адреса проживання
          schema:
            type: string
        - name: address_legal
          in: query
          required: false
          description: Адреса прописки
          schema:
            type: string
        - name: joined_at
          in: query
          required: false
          description: День початку роботи у компанії
          schema:
            type: string
        - name: birthday
          in: query
          required: false
          description: День народження
          schema:
            type: string
        - name: gender_type_id
          in: query
          required: false
          description: Стать
          schema:
            type: string
        - name: notes
          in: query
          required: false
          description: Помітки
          schema:
            type: string
        - name: additional_phone_number
          in: query
          required: false
          description: Додатковий телефон
          schema:
            type: string
        - name: pin_code
          in: query
          required: false
          description: Код доступу до каси
          schema:
            type: string
        - name: avatar
          in: query
          required: false
          description: Фото
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 1300
                    additional_phone_number: null
                    birthday: '1980-01-01T00:00:00.000+00:00'
                    created_at: '2021-03-22T13:52:07.666+02:00'
                    email: chrisspencer@kuphalkunze.biz
                    first_name: Богдан
                    gender_type_id: 1
                    inn: '1234567891'
                    joined_at: null
                    last_name: Палій
                    middle_name: null
                    notes: Quos ut porro et.
                    passport_number: '123456'
                    passport_serial: SN
                    phone_number: '380970000016'
                    role:
                      id: 856
                      created_at: '2021-03-22T13:52:07.645+02:00'
                      name: Test
                      state: 0
                      updated_at: '2021-03-22T13:52:07.645+02:00'
                    role_id: 856
                    state: 0
                    updated_at: '2021-03-22T13:52:07.666+02:00'
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 1
                  limit_value: 25
                  offset_value: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    post:
      summary: Створення нового працівника
      tags:
        - Працівники
      operationId: post_api_v1_rsn_employees
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 1299
                  additional_phone_number: '380971234568'
                  address_legal:
                    id: 38195
                    address_type_id: 1
                    city_id: null
                    city_name: null
                    content: пр. Нижанківського, 196
                    created_at: '2021-03-22T13:52:07.548+02:00'
                    region_id: null
                    updated_at: '2021-03-22T13:52:07.548+02:00'
                    zip_code: '08132'
                  avatar:
                    id: 70f44ebb9cf6a79efb0c2e1b9c2b1414.png
                    filename: test.png
                    mime_type: image/png
                    size: 8132
                    url: /uploads/store/70f44ebb9cf6a79efb0c2e1b9c2b1414.png
                  birthday: '1980-01-01T00:00:00.000+00:00'
                  created_at: '2021-03-22T13:52:07.546+02:00'
                  email: bo@schmidt.net
                  first_name: Віктор
                  gender_type_id: 1
                  inn: '1234567891'
                  joined_at: '2012-01-01T00:00:00.000+00:00'
                  last_name: Лагойда
                  middle_name: Гордійчук
                  notes: Voluptatem quod laborum porro.
                  passport_number: '123456'
                  passport_serial: SN
                  phone_number: '380971234567'
                  pin_code: '1123'
                  role:
                    id: 854
                    created_at: '2021-03-22T13:52:07.473+02:00'
                    name: Test
                    state: 0
                    updated_at: '2021-03-22T13:52:07.473+02:00'
                  role_id: 854
                  state: 0
                  updated_at: '2021-03-22T13:52:07.546+02:00'
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  first_name:
                    - error: blank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                  description: Номер телефону
                email:
                  type: string
                  description: Email
                first_name:
                  type: string
                  description: Ім’я
                last_name:
                  type: string
                  description: Прізвище
                middle_name:
                  type: string
                  description: По-Батькові
                inn:
                  type: string
                  description: ІПН
                passport_serial:
                  type: string
                  description: Паспорт - серія
                passport_number:
                  type: string
                  description: Паспорт - номер
                role_id:
                  type: integer
                  description: Ідентифікатор посади
                address_actual:
                  type: object
                  description: Адреса проживання
                address_legal:
                  type: object
                  description: Адреса прописки
                joined_at:
                  type: string
                  description: День початку роботи у компанії
                birthday:
                  type: string
                  description: День народження
                gender_type_id:
                  type: integer
                  description: Стать
                notes:
                  type: string
                  description: Помітки
                additional_phone_number:
                  type: string
                  description: Додатковий телефон
                pin_code:
                  type: string
                  description: Код доступу до каси
                avatar:
                  type: object
                  description: Фото
              additionalProperties: true
            example:
              avatar:
                id: uploads/cache/ed9cceadff03afb63bebb732e56e804e
                filename: test.png
                mime_type: image/png
                size: 8132
              email: bo@schmidt.net
              first_name: Віктор
              middle_name: Гордійчук
              last_name: Лагойда
              phone_number: '0971234567'
              inn: '1234567891'
              pin_code: '1123'
              passport_serial: SN
              passport_number: '123456'
              role_id: 854
              address_actual:
                zip_code: '08800'
                content: пров. Вічева, 5
              address_legal:
                zip_code: '08132'
                content: пр. Нижанківського, 196
              birthday: '1980-01-01'
              joined_at: '2012-01-01'
              gender_type_id: 1
              notes: Voluptatem quod laborum porro.
              additional_phone_number: '0971234568'
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/rsn/employees/{id}:
    summary: Операції з працівником
    delete:
      summary: Видалення працівника
      tags:
        - Працівники
      operationId: delete_api_v1_rsn_employees_id
      parameters:
        - name: id
          in: path
          required: true
          description: 'ID параметр: id'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 1304
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                  description: Номер телефону
                email:
                  type: string
                  description: Email
                first_name:
                  type: string
                  description: Ім’я
                last_name:
                  type: string
                  description: Прізвище
                middle_name:
                  type: string
                  description: По-Батькові
                inn:
                  type: string
                  description: ІПН
                passport_serial:
                  type: string
                  description: Паспорт - серія
                passport_number:
                  type: string
                  description: Паспорт - номер
                role_id:
                  type: string
                  description: Ідентифікатор посади
                address_actual:
                  type: string
                  description: Адреса проживання
                address_legal:
                  type: string
                  description: Адреса прописки
                joined_at:
                  type: string
                  description: День початку роботи у компанії
                birthday:
                  type: string
                  description: День народження
                gender_type_id:
                  type: string
                  description: Стать
                notes:
                  type: string
                  description: Помітки
                additional_phone_number:
                  type: string
                  description: Додатковий телефон
                pin_code:
                  type: string
                  description: Код доступу до каси
                avatar:
                  type: string
                  description: Фото
              additionalProperties: true
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    put:
      summary: Оновлення профілю працівника
      tags:
        - Працівники
      operationId: put_api_v1_rsn_employees_id
      parameters:
        - name: id
          in: path
          required: true
          description: 'ID параметр: id'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 1302
                  additional_phone_number: '380971234568'
                  avatar:
                    id: 2c10d4c8bb4f5e07f7c9f54dd9bff2af.png
                    filename: test.png
                    mime_type: image/png
                    size: 8132
                    url: /uploads/store/2c10d4c8bb4f5e07f7c9f54dd9bff2af.png
                  birthday: '1980-01-01T00:00:00.000+00:00'
                  created_at: '2021-03-22T13:52:07.820+02:00'
                  email: bo@schmidt.net
                  first_name: New name
                  gender_type_id: 1
                  inn: '1234567891'
                  joined_at: '2012-01-01T00:00:00.000+00:00'
                  last_name: Лагойда
                  middle_name: Гордійчук
                  notes: Voluptatem quod laborum porro.
                  passport_number: '123456'
                  passport_serial: SN
                  phone_number: '380971234567'
                  pin_code: null
                  role_id: 1
                  state: 0
                  updated_at: '2021-03-22T13:52:07.820+02:00'
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  first_name:
                    - error: blank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                  description: Номер телефону
                email:
                  type: string
                  description: Email
                first_name:
                  type: string
                  description: Ім’я
                last_name:
                  type: string
                  description: Прізвище
                middle_name:
                  type: string
                  description: По-Батькові
                inn:
                  type: string
                  description: ІПН
                passport_serial:
                  type: string
                  description: Паспорт - серія
                passport_number:
                  type: string
                  description: Паспорт - номер
                role_id:
                  type: integer
                  description: Ідентифікатор посади
                address_actual:
                  type: object
                  description: Адреса проживання
                address_legal:
                  type: object
                  description: Адреса прописки
                joined_at:
                  type: string
                  description: День початку роботи у компанії
                birthday:
                  type: string
                  description: День народження
                gender_type_id:
                  type: integer
                  description: Стать
                notes:
                  type: string
                  description: Помітки
                additional_phone_number:
                  type: string
                  description: Додатковий телефон
                pin_code:
                  type: string
                  description: Код доступу до каси
                avatar:
                  type: object
                  description: Фото
              additionalProperties: true
            example:
              avatar:
                id: uploads/cache/a9104b9b143d42a5c49ac4c11876c193
                filename: test.png
                mime_type: image/png
                size: 8132
              email: bo@schmidt.net
              first_name: New name
              middle_name: Гордійчук
              last_name: Лагойда
              phone_number: '0971234567'
              inn: '1234567891'
              pin_code: '1123'
              passport_serial: SN
              passport_number: '123456'
              role_id: 1
              address_actual:
                zip_code: '08800'
                content: пров. Вічева, 5
              address_legal:
                zip_code: '08132'
                content: пр. Нижанківського, 196
              birthday: '1980-01-01'
              joined_at: '2012-01-01'
              gender_type_id: 1
              notes: Voluptatem quod laborum porro.
              additional_phone_number: '0971234568'
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    get:
      summary: Інформація про працівника
      tags:
        - Працівники
      operationId: get_api_v1_rsn_employees_id
      parameters:
        - name: id
          in: path
          required: true
          description: 'ID параметр: id'
          schema:
            type: string
        - name: phone_number
          in: query
          required: false
          description: Номер телефону
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Email
          schema:
            type: string
        - name: first_name
          in: query
          required: false
          description: Ім’я
          schema:
            type: string
        - name: last_name
          in: query
          required: false
          description: Прізвище
          schema:
            type: string
        - name: middle_name
          in: query
          required: false
          description: По-Батькові
          schema:
            type: string
        - name: inn
          in: query
          required: false
          description: ІПН
          schema:
            type: string
        - name: passport_serial
          in: query
          required: false
          description: Паспорт - серія
          schema:
            type: string
        - name: passport_number
          in: query
          required: false
          description: Паспорт - номер
          schema:
            type: string
        - name: role_id
          in: query
          required: false
          description: Ідентифікатор посади
          schema:
            type: string
        - name: address_actual
          in: query
          required: false
          description: Адреса проживання
          schema:
            type: string
        - name: address_legal
          in: query
          required: false
          description: Адреса прописки
          schema:
            type: string
        - name: joined_at
          in: query
          required: false
          description: День початку роботи у компанії
          schema:
            type: string
        - name: birthday
          in: query
          required: false
          description: День народження
          schema:
            type: string
        - name: gender_type_id
          in: query
          required: false
          description: Стать
          schema:
            type: string
        - name: notes
          in: query
          required: false
          description: Помітки
          schema:
            type: string
        - name: additional_phone_number
          in: query
          required: false
          description: Додатковий телефон
          schema:
            type: string
        - name: pin_code
          in: query
          required: false
          description: Код доступу до каси
          schema:
            type: string
        - name: avatar
          in: query
          required: false
          description: Фото
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 1301
                  additional_phone_number: null
                  birthday: '1980-01-01T00:00:00.000+00:00'
                  created_at: '2021-03-22T13:52:07.741+02:00'
                  email: alphonsolubowitz@lakin.com
                  first_name: Зорян
                  gender_type_id: 1
                  inn: '1234567891'
                  joined_at: null
                  last_name: Павлишин
                  middle_name: null
                  notes: Quos aspernatur quis et.
                  passport_number: '123456'
                  passport_serial: SN
                  phone_number: '380970000017'
                  pin_code: '6122'
                  role:
                    id: 857
                    created_at: '2021-03-22T13:52:07.716+02:00'
                    name: Test
                    state: 0
                    updated_at: '2021-03-22T13:52:07.716+02:00'
                  role_id: 857
                  state: 0
                  updated_at: '2021-03-22T13:52:07.741+02:00'
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/inventory/unit_types:
    summary: Список одиниць виміру
    get:
      summary: Отримання списку одиниць виміру
      tags:
        - Одиниці виміру
      operationId: get_api_v1_inventory_unit_types
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 12
                    code: 175
                    is_visible: true
                    is_weighted: false
                    name: Година
                    short_name: год
                  - id: 9
                    code: 303
                    is_visible: true
                    is_weighted: true
                    name: Грам
                    short_name: гр
                  - id: 10
                    code: 301
                    is_visible: true
                    is_weighted: true
                    name: Кілограм
                    short_name: кг
                  - id: 7
                    code: 102
                    is_visible: true
                    is_weighted: false
                    name: Кілометр
                    short_name: км
                  - id: 8
                    code: 101
                    is_visible: true
                    is_weighted: false
                    name: Метр
                    short_name: м
                  - id: 13
                    code: 144
                    is_visible: true
                    is_weighted: true
                    name: Міліметр
                    short_name: мм
                  - id: 5
                    code: 2061
                    is_visible: true
                    is_weighted: false
                    name: Пляшка
                    short_name: пляшка
                  - id: 6
                    code: 3011
                    is_visible: true
                    is_weighted: false
                    name: Порція
                    short_name: порція
                  - id: 14
                    code: 104
                    is_visible: true
                    is_weighted: true
                    name: Сантиметр
                    short_name: см
                  - id: 11
                    code: 178
                    is_visible: true
                    is_weighted: false
                    name: Хвилина
                    short_name: хв
                  - id: 4
                    code: 2009
                    is_visible: true
                    is_weighted: false
                    name: Штука
                    short_name: шт
                meta:
                  total_count: 11
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/inventory/categories:
    summary: Список каталогів
    get:
      summary: Отримання списку каталогів
      tags:
        - Каталоги
      operationId: get_api_v1_inventory_categories
      parameters:
        - name: id
          in: query
          required: false
          description: Ідентифікатор каталогу
          schema:
            type: string
        - name: title
          in: query
          required: false
          description: Назва каталогу
          schema:
            type: string
        - name: parent_id
          in: query
          required: false
          description: Ідентифікатор батьківського каталогу
          schema:
            type: string
        - name: color_id
          in: query
          required: false
          description: Ідентифікатор кольору (enum)
          schema:
            type: string
        - name: shop_ids
          in: query
          required: false
          description: Масив ідентифікаторів торгових точок
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 870798b3-224f-4e1d-bff9-8499027f1c9a
                    color_id: 0
                    created_at: '2021-03-22T13:51:47.935+02:00'
                    parent_id: null
                    partner:
                      id: 7697
                      code: '744328675'
                      created_at: '2021-03-22T13:51:47.933+02:00'
                      name: ДП Львівтрейд
                      partner_type_id: 0
                      state: 0
                      title: Just for test
                      updated_at: '2021-03-22T13:51:47.933+02:00'
                    partner_id: 7697
                    products_count: 0
                    shop_ids: []
                    title: Recusandae eos eum ea.
                    updated_at: '2021-03-22T13:51:47.935+02:00'
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 1
                  limit_value: 25
                  offset_value: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    post:
      summary: Створення нового каталогу
      tags:
        - Каталоги
      operationId: post_api_v1_inventory_categories
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 06aa5d56-4922-44e1-91d5-01feb0431a31
                  color_id: null
                  created_at: '2021-03-22T11:51:48.296+02:00'
                  parent_id: f3ad326f-cf21-454d-9d4c-aab98213c7d2
                  partner_id: 7699
                  products_count: 0
                  shop_ids: []
                  title: Natus et quod voluptas.
                  updated_at: '2021-03-22T11:51:48.296+02:00'
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  title:
                    - error: blank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Ідентифікатор каталогу
                title:
                  type: string
                  description: Назва каталогу
                parent_id:
                  type: string
                  description: Ідентифікатор батьківського каталогу
                color_id:
                  type: string
                  description: Ідентифікатор кольору (enum)
                shop_ids:
                  type: string
                  description: Масив ідентифікаторів торгових точок
              additionalProperties: true
            example:
              title: Natus et quod voluptas.
              color: 2
              partner_id: 7699
              parent_id: f3ad326f-cf21-454d-9d4c-aab98213c7d2
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/inventory/categories/{id}:
    summary: Операції з каталогом
    put:
      summary: Оновлення інформації про каталог
      tags:
        - Каталоги
      operationId: put_api_v1_inventory_categories_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор каталогу
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 6a578a21-ff67-4970-ad46-a6497a8504b5
                  color_id: 0
                  created_at: '2021-03-22T13:51:48.382+02:00'
                  parent_id: null
                  partner_id: 7701
                  products_count: 0
                  shop_ids: []
                  title: Natus et quod voluptas.
                  updated_at: '2021-03-22T11:51:48.428+02:00'
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Назва каталогу
                parent_id:
                  type: string
                  description: Ідентифікатор батьківського каталогу
                color_id:
                  type: string
                  description: Ідентифікатор кольору (enum)
                shop_ids:
                  type: string
                  description: Масив ідентифікаторів торгових точок
              additionalProperties: true
            example:
              id: 6a578a21-ff67-4970-ad46-a6497a8504b5
              title: Natus et quod voluptas.
              color: 2
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    delete:
      summary: Видалення каталогу
      tags:
        - Каталоги
      operationId: delete_api_v1_inventory_categories_id
      parameters:
        - name: id
          in: path
          required: true
          description: 'ID параметр: id'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: e5d2034b-f758-4c0c-9286-97d0816ec4d3
                  color_id: 0
                  created_at: '2021-03-22T13:51:48.445+02:00'
                  parent_id: null
                  partner_id: 7702
                  products_count: 0
                  shop_ids: []
                  title: Architecto consequuntur a porro.
                  updated_at: '2021-03-22T13:51:48.445+02:00'
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/inventory/products:
    summary: Список товарів
    get:
      summary: Отримання списку товарів
      tags:
        - Товари
      operationId: get_api_v1_inventory_products
      parameters:
        - name: q
          in: query
          required: false
          description: Пошуковий запит (повнотекстовий пошук)
          schema:
            type: string
        - name: number
          in: query
          required: false
          description: Штрих-код
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: Ідентифікатор торгової точки
          schema:
            type: string
        - name: subgroup_id
          in: query
          required: false
          description: Ідентифікатор товарної підгрупи
          schema:
            type: string
        - name: category_id
          in: query
          required: false
          description: Ідентифікатор каталогу
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Номер сторінки (пагінація)
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Кількість записів на сторінку (пагінація)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 6ba87885-a4af-47ac-a31a-50de0d6b93ce
                    alter_number: '9909720899'
                    alter_title: Exercitationem aut atque fugiat.
                    bookmark_ids: []
                    category_id: 6718d176-b9d2-42d2-a22d-afb7728f0303
                    category_type_id: 7537043
                    classifier_code: '123456789012345'
                    classifier_type_id: 1
                    created_at: '2021-03-22T13:51:49.603+02:00'
                    is_free_price: false
                    is_without_number: false
                    number: '1944840247'
                    owner_id: 103927
                    partner:
                      id: 7706
                      code: null
                      created_at: null
                      name: null
                      partner_type_id: null
                      state: null
                      title: Just for test
                      updated_at: null
                    partner_id: 7706
                    partner_title: Just for test
                    picture:
                      id: fdd86b0b8767eb6397988ce910253990
                      filename: test.png
                      mime_type: image/png
                      size: 8132
                      url: /uploads/store/fdd86b0b8767eb6397988ce910253990
                    portion_amount: 800
                    portion_type_id: 0
                    price: '3064.0'
                    procurement_price: '100.0'
                    sold_by_weight: false
                    stock: {}
                    subgroup_id: null
                    subgroup_title: null
                    tax_amount:
                      А: 1520
                    tax_group_id: 1
                    title: Est dolore quidem qui.
                    unit_type_id: 0
                    unit_type_name: null
                    updated_at: '2021-03-22T13:51:49.603+02:00'
                    user_id: 103928
                  - id: 0d3082ad-f4e0-4734-9716-dc6b4ffd49bb
                    alter_number: null
                    alter_title: null
                    bookmark_ids: []
                    category_id: 6718d176-b9d2-42d2-a22d-afb7728f0303
                    category_type_id: 5704445
                    classifier_code: '123456789012345'
                    classifier_type_id: 1
                    created_at: '2021-03-22T13:51:49.581+02:00'
                    is_free_price: false
                    is_without_number: false
                    number: '3933933345'
                    owner_id: 103927
                    partner:
                      id: 7706
                      code: null
                      created_at: null
                      name: null
                      partner_type_id: null
                      state: null
                      title: Just for test
                      updated_at: null
                    partner_id: 7706
                    partner_title: Just for test
                    portion_amount: 800
                    portion_type_id: 0
                    price: '7549.0'
                    procurement_price: '100.0'
                    sold_by_weight: false
                    stock: {}
                    subgroup_id: null
                    subgroup_title: null
                    tax_amount:
                      А: 360
                    tax_group_id: 1
                    title: Eum alias doloremque facere.
                    unit_type_id: 0
                    unit_type_name: null
                    updated_at: '2021-03-22T13:51:49.581+02:00'
                    user_id: 103928
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 2
                  limit_value: 25
                  offset_value: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    post:
      summary: Створення тового товару
      tags:
        - Товари
      operationId: post_api_v1_inventory_products
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 7f527f59-bcdb-4bbd-a187-00b6ee7b68f5
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  title:
                    - error: blank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                title:
                  type: string
                unit_type_id:
                  type: integer
                portion_amount:
                  type: integer
                portion_type_id:
                  type: integer
                price:
                  type: number
                procurement_price:
                  type: integer
                classifier_type_id:
                  type: integer
                classifier_code:
                  type: string
                tax_group_id:
                  type: integer
                category_id:
                  type: string
                category_type_id:
                  type: integer
                sold_by_weight:
                  type: boolean
                bookmark_ids:
                  type: array
                  items:
                    type: object
                user_id:
                  type: integer
                owner_id:
                  type: integer
              additionalProperties: true
            example:
              number: '6930426566'
              title: Optio numquam molestiae amet.
              unit_type_id: 0
              portion_amount: 800
              portion_type_id: 0
              price: 71.89
              procurement_price: 50
              classifier_type_id: 2
              classifier_code: '543210123456789'
              tax_group_id: 1
              category_id: 992670be-c998-4169-a62c-63bfe2a4e1a0
              category_type_id: 2201372
              sold_by_weight: false
              bookmark_ids: []
              user_id: 103930
              owner_id: 103929
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/inventory/products/{id}:
    summary: Операції з товаром
    get:
      summary: Отримання інформації по товару
      tags:
        - Товари
      operationId: get_api_v1_inventory_products_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор товару
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: f747fbc5-4782-4489-92b4-51691dea1f63
                  alter_number: null
                  alter_title: null
                  bookmark_ids: []
                  cards:
                    - id: 10789
                      count: '100.0'
                      counting_enabled: true
                      created_at: '2021-03-22T13:51:50.148+02:00'
                      owner_id: null
                      product_id: f747fbc5-4782-4489-92b4-51691dea1f63
                      shop_id: 37933
                      updated_at: '2021-03-22T13:51:50.148+02:00'
                    - id: 10790
                      count: '10.0'
                      counting_enabled: true
                      created_at: '2021-03-22T13:51:50.149+02:00'
                      owner_id: null
                      product_id: f747fbc5-4782-4489-92b4-51691dea1f63
                      shop_id: 37934
                      updated_at: '2021-03-22T13:51:50.149+02:00'
                  category:
                    id: 72c1f7f7-751d-4caf-a0c7-5c8b0314a9f2
                    color_id: 0
                    created_at: '2021-03-22T13:51:50.110+02:00'
                    parent_id: null
                    partner_id: 7711
                    products_count: 0
                    title: Velit enim repellendus reprehenderit.
                    updated_at: '2021-03-22T13:51:50.110+02:00'
                  category_id: 72c1f7f7-751d-4caf-a0c7-5c8b0314a9f2
                  category_type:
                    id: 9000681
                    parent_id: null
                    title: Corporis consectetur deserunt quae.
                  category_type_id: 9000681
                  classifier_code: '123456789012345'
                  classifier_type_id: 1
                  created_at: '2021-03-22T13:51:50.114+02:00'
                  is_free_price: false
                  is_without_number: false
                  number: '1481689397'
                  owner_id: 103937
                  picture:
                    id: 6dc1f53c8138e3001bb3099f8d04dc8d
                    filename: test.png
                    mime_type: image/png
                    size: 8132
                    url: /uploads/store/6dc1f53c8138e3001bb3099f8d04dc8d
                  portion_amount: 800
                  portion_type_id: 0
                  price: '7829.0'
                  procurement_price: '100.0'
                  sold_by_weight: false
                  subgroup_id: null
                  tax_amount:
                    А: 540
                  tax_group_id: 1
                  title: Sit ab delectus non.
                  unit_type_id: 0
                  unit_type_name: null
                  updated_at: '2021-03-22T13:51:50.114+02:00'
                  user_id: 103938
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    patch:
      summary: Оновлення даних товару
      tags:
        - Товари
      operationId: patch_api_v1_inventory_products_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор товару
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: e29eaab0-f846-40cf-a445-db81f9101a25
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                number:
                  type: string
                title:
                  type: string
                unit_type_id:
                  type: integer
                portion_amount:
                  type: integer
                portion_type_id:
                  type: integer
                price:
                  type: number
                procurement_price:
                  type: integer
                classifier_type_id:
                  type: integer
                classifier_code:
                  type: string
                tax_group_id:
                  type: integer
                category_id:
                  type: string
                category_type_id:
                  type: integer
                sold_by_weight:
                  type: boolean
                bookmark_ids:
                  type: array
                  items:
                    type: object
                user_id:
                  type: integer
                owner_id:
                  type: integer
              additionalProperties: true
            example:
              id: e29eaab0-f846-40cf-a445-db81f9101a25
              number: '6930426566'
              title: Optio numquam molestiae amet.
              unit_type_id: 0
              portion_amount: 800
              portion_type_id: 0
              price: 71.89
              procurement_price: 50
              classifier_type_id: 2
              classifier_code: '543210123456789'
              tax_group_id: 1
              category_id: 4de477d4-316b-4149-83aa-c25f41aa2c4d
              category_type_id: 8498814
              sold_by_weight: false
              bookmark_ids: []
              user_id: 103942
              owner_id: 103941
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    delete:
      summary: Видалення товару
      tags:
        - Товари
      operationId: delete_api_v1_inventory_products_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор товару
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: f1fda3a6-b8c1-4c6f-91b0-6db30699c5fc
                meta: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/inventory/cards:
    summary: Список інвентарних карток
    get:
      summary: Список інвентарних карток
      tags:
        - Облік товарів
      operationId: get_api_v1_inventory_cards
      parameters:
        - name: id
          in: query
          required: false
          description: Ідентифікатор
          schema:
            type: string
        - name: product_id
          in: query
          required: false
          description: Ідентифікатор товару
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: Ідентифікатор торгової точки
          schema:
            type: string
        - name: counting_enabled
          in: query
          required: false
          description: Ознака відслідковування залишків
          schema:
            type: string
        - name: count
          in: query
          required: false
          description: Кількість
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 10767
                    count: '3.5'
                    counting_enabled: true
                    created_at: '2021-03-22T13:51:46.815+02:00'
                    owner_id: 103881
                    product:
                      id: a327c691-1542-4b65-b8cd-05c51847bcad
                      alter_number: null
                      alter_title: null
                      bookmark_ids: []
                      category_id: 837cd759-fb0a-44b4-9fdb-91b0b9c7b112
                      category_type_id: 5629779
                      classifier_code: '123456789012345'
                      classifier_type_id: 1
                      created_at: '2021-03-22T13:51:46.774+02:00'
                      is_free_price: false
                      is_without_number: false
                      number: '1428005484'
                      owner_id: 103881
                      portion_amount: 800
                      portion_type_id: 0
                      price: '5483.0'
                      procurement_price: '100.0'
                      sold_by_weight: false
                      subgroup_id: null
                      tax_amount:
                        А: 1040
                      tax_group_id: 1
                      title: Doloremque et eligendi laborum.
                      unit_type_id: 0
                      unit_type_name: null
                      updated_at: '2021-03-22T13:51:46.774+02:00'
                      user_id: 103882
                    product_id: a327c691-1542-4b65-b8cd-05c51847bcad
                    shop:
                      id: 37916
                      business_category_id: 1
                      created_at: '2021-03-22T13:51:46.796+02:00'
                      email: hye@beerdickinson.co
                      employees_count: 0
                      fiscal_numbers: []
                      fiscalization_enabled: false
                      is_excise_taxation: false
                      is_vat_taxation: true
                      owner_id: 103881
                      phone_number: '0971234567'
                      state: 0
                      terminals_count: 0
                      title: Test shop
                      updated_at: '2021-03-22T13:51:46.796+02:00'
                      website_url: https://www.example.com
                    shop_id: 37916
                    updated_at: '2021-03-22T13:51:46.815+02:00'
                  - id: 10766
                    count: '3.5'
                    counting_enabled: true
                    created_at: '2021-03-22T13:51:46.813+02:00'
                    owner_id: 103881
                    product:
                      id: 1744c191-498b-48bf-8e0c-19792b3d17c4
                      alter_number: null
                      alter_title: null
                      bookmark_ids: []
                      category_id: 2c8c0740-f940-459d-a6dd-b06373f99656
                      category_type_id: 6496175
                      classifier_code: '123456789012345'
                      classifier_type_id: 1
                      created_at: '2021-03-22T13:51:46.745+02:00'
                      is_free_price: false
                      is_without_number: false
                      number: '1264404741'
                      owner_id: 103881
                      portion_amount: 800
                      portion_type_id: 0
                      price: '6145.0'
                      procurement_price: '100.0'
                      sold_by_weight: false
                      subgroup_id: null
                      tax_amount:
                        А: 1960
                      tax_group_id: 1
                      title: Fuga animi repellendus tenetur.
                      unit_type_id: 0
                      unit_type_name: null
                      updated_at: '2021-03-22T13:51:46.745+02:00'
                      user_id: 103882
                    product_id: 1744c191-498b-48bf-8e0c-19792b3d17c4
                    shop:
                      id: 37916
                      business_category_id: 1
                      created_at: '2021-03-22T13:51:46.796+02:00'
                      email: hye@beerdickinson.co
                      employees_count: 0
                      fiscal_numbers: []
                      fiscalization_enabled: false
                      is_excise_taxation: false
                      is_vat_taxation: true
                      owner_id: 103881
                      phone_number: '0971234567'
                      state: 0
                      terminals_count: 0
                      title: Test shop
                      updated_at: '2021-03-22T13:51:46.796+02:00'
                      website_url: https://www.example.com
                    shop_id: 37916
                    updated_at: '2021-03-22T13:51:46.813+02:00'
                  - id: 10765
                    count: '3.5'
                    counting_enabled: true
                    created_at: '2021-03-22T13:51:46.812+02:00'
                    owner_id: 103881
                    product:
                      id: a327c691-1542-4b65-b8cd-05c51847bcad
                      alter_number: null
                      alter_title: null
                      bookmark_ids: []
                      category_id: 837cd759-fb0a-44b4-9fdb-91b0b9c7b112
                      category_type_id: 5629779
                      classifier_code: '123456789012345'
                      classifier_type_id: 1
                      created_at: '2021-03-22T13:51:46.774+02:00'
                      is_free_price: false
                      is_without_number: false
                      number: '1428005484'
                      owner_id: 103881
                      portion_amount: 800
                      portion_type_id: 0
                      price: '5483.0'
                      procurement_price: '100.0'
                      sold_by_weight: false
                      subgroup_id: null
                      tax_amount:
                        А: 1040
                      tax_group_id: 1
                      title: Doloremque et eligendi laborum.
                      unit_type_id: 0
                      unit_type_name: null
                      updated_at: '2021-03-22T13:51:46.774+02:00'
                      user_id: 103882
                    product_id: a327c691-1542-4b65-b8cd-05c51847bcad
                    shop:
                      id: 37915
                      business_category_id: 1
                      created_at: '2021-03-22T13:51:46.764+02:00'
                      email: evangeline@vandervort.biz
                      employees_count: 0
                      fiscal_numbers: []
                      fiscalization_enabled: false
                      is_excise_taxation: false
                      is_vat_taxation: true
                      owner_id: 103881
                      phone_number: '0971234567'
                      state: 0
                      terminals_count: 0
                      title: Test shop
                      updated_at: '2021-03-22T13:51:46.764+02:00'
                      website_url: https://www.example.com
                    shop_id: 37915
                    updated_at: '2021-03-22T13:51:46.812+02:00'
                  - id: 10764
                    count: '3.5'
                    counting_enabled: true
                    created_at: '2021-03-22T13:51:46.807+02:00'
                    owner_id: 103881
                    product:
                      id: 1744c191-498b-48bf-8e0c-19792b3d17c4
                      alter_number: null
                      alter_title: null
                      bookmark_ids: []
                      category_id: 2c8c0740-f940-459d-a6dd-b06373f99656
                      category_type_id: 6496175
                      classifier_code: '123456789012345'
                      classifier_type_id: 1
                      created_at: '2021-03-22T13:51:46.745+02:00'
                      is_free_price: false
                      is_without_number: false
                      number: '1264404741'
                      owner_id: 103881
                      portion_amount: 800
                      portion_type_id: 0
                      price: '6145.0'
                      procurement_price: '100.0'
                      sold_by_weight: false
                      subgroup_id: null
                      tax_amount:
                        А: 1960
                      tax_group_id: 1
                      title: Fuga animi repellendus tenetur.
                      unit_type_id: 0
                      unit_type_name: null
                      updated_at: '2021-03-22T13:51:46.745+02:00'
                      user_id: 103882
                    product_id: 1744c191-498b-48bf-8e0c-19792b3d17c4
                    shop:
                      id: 37915
                      business_category_id: 1
                      created_at: '2021-03-22T13:51:46.764+02:00'
                      email: evangeline@vandervort.biz
                      employees_count: 0
                      fiscal_numbers: []
                      fiscalization_enabled: false
                      is_excise_taxation: false
                      is_vat_taxation: true
                      owner_id: 103881
                      phone_number: '0971234567'
                      state: 0
                      terminals_count: 0
                      title: Test shop
                      updated_at: '2021-03-22T13:51:46.764+02:00'
                      website_url: https://www.example.com
                    shop_id: 37915
                    updated_at: '2021-03-22T13:51:46.807+02:00'
                meta:
                  total_count: 4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: Об'єкт з помилками валідації
      security:
        - ApiKeyAuth: []
          BearerAuth: []
    post:
      summary: Створення інвентарної картки
      tags:
        - Облік товарів
      operationId: post_api_v1_inventory_cards
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 10776
                  count: '5.0'
                  counting_enabled: true
                  created_at: '2021-03-22T13:51:47.187+02:00'
                  owner_id: null
                  product_id: 0ee5ca34-a864-4ca1-a144-f0f4fe48e036
                  shop_id: 37919
                  updated_at: '2021-03-22T13:51:47.187+02:00'
                meta: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                errors:
                  product_id:
                    - error: invalid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Ідентифікатор
                product_id:
                  type: string
                  description: Ідентифікатор товару
                shop_id:
                  type: integer
                  description: Ідентифікатор торгової точки
                counting_enabled:
                  type: boolean
                  description: Ознака відслідковування залишків
                count:
                  type: integer
                  description: Кількість
              additionalProperties: true
            example:
              product_id: 0ee5ca34-a864-4ca1-a144-f0f4fe48e036
              shop_id: 37919
              counting_enabled: true
              count: 5
      security:
        - ApiKeyAuth: []
          BearerAuth: []
  /api/v1/inventory/cards/{id}:
    summary: Операції з інвентарною карткою
    get:
      summary: Перегляд даних інвентарної картки
      tags:
        - Облік товарів
      operationId: get_api_v1_inventory_cards_id
      parameters:
        - name: id
          in: path
          required: true
          description: Ідентифікатор
          schema:
            type: string
        - name: product_id
          in: query
          required: false
          description: Ідентифікатор товару
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: Ідентифікатор торгової точки
          schema:
            type: string
        - name: counting_enabled
          in: query
          required: false
          description: Ознака відслідковування залишків
          schema:
            type: string
        - name: count
          in: query
          required: false
          description: Кількість
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  id: 10785
                  count: '3.5'
                  counting_enabled: true
                  created_at: '2021-03-22T13:51:47.550+02:00'
                  owner_id: 103891
                  product:
                    id: 52f87f5e-9d97-4f8a-b9ed-1af1ef03411e
                    alter_number: null
                    alter_title: null
                    bookmark_ids: []
                    category_id: 6d20304d-589d-4ef4-8a23-302b30449191
                    category_type_id: 4203449
                    classifier_code: '123456789012345'
                    classifier_type_id: 1
                    created_at: '2021-03-22T13:51:47.485+02:00'
                    is_free_price: false
                    is_without_number: false
                    number: '7565420032'
[...]
