FORMAT: 1A
HOST: https://core.smartkasa.ua

# Смарт Каса API v1.0.18

## Media Types
```
Content-Type: application/json
```

## Відповіді від серверу
Використовуються загальноприйняті [HTTP-коди відповідей](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md).

## Підпис запитів
Кожен запит повинен супроводжуватись наявністю заголовку: ```X-API-KEY```. \
Для запитів які потребують авторизації користувача повинен бути наявним додатково заголовок: ```Authorization```.
# Group Авторизація
Авторизація користувача на порталі, отримання сесійних ключів

## Вхід [/api/v1/auth/sessions]
Процедура встановлення належності користувачеві інформації в системі по номеру телефона та паролю

+ Parameters
  + phone_number (required, string) - Номер телефону
  + password (required, string) - Пароль

### Запити аутентифікації [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: 581c547dcdb175193037881f8acd7ee8

    + Body

            {
              "session": {
                "password": "123456789",
                "phone_number": "380960000006"
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": null,
                "access": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MTY0MTc0OTcsInVzZXJfdHlwZV9pZCI6MSwib3duZXJfaWQiOjEwMzc1Nywicm9sZV9pZCI6bnVsbCwic2Vzc2lvbl90b2tlbiI6ImYxY2JmNWE1LTJkNDUtNGRjNi1hZDJhLTk0ZmUyZTZjM2ZkZSIsInVzZXJfaWQiOjEwMzc1NywidWlkIjoiZDU2OTM4YmMtMjU4Mi00YTJiLWFmZDgtMDk1ZmYyMjdmYjhkIiwiZXhwIjoxNjE2NTAwMjk3fQ.Y87pAVTWIGE7EWMdSgOSt4LSHaV4Ry_YQDfeL7RkKos",
                "access_expires_at": "2021-03-23T13:51:37.000+02:00",
                "csrf": "aPhV1ZNQyuoTStIlnw7PlSGU8jRMzhsu3voUrIxYmnJqZmzDGzYizlHIjGqGBbrTVfxJOQU98g+EAkcv9wRsJg==",
                "refresh": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MTY0MTc0OTcsInNlc3Npb25fdG9rZW4iOiJmMWNiZjVhNS0yZDQ1LTRkYzYtYWQyYS05NGZlMmU2YzNmZGUiLCJ1c2VyX2lkIjoxMDM3NTcsInVpZCI6Ijc5NWY0YWYzLWQ4MjUtNDUwYi1iZmJhLTVkZjFkZWRkNDg1MyIsImV4cCI6MTYxOTA0MzY0M30.oWTtZguR4e1LkAhWen8W8iKPWiit5xHW3cyu98EXtqg",
                "refresh_expires_at": "2021-04-22T01:20:43.000+03:00"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: 21a75776aebf970f0dc11b74f05759af

    + Body

            {
              "session": {
                "password": "invalid",
                "phone_number": "380960000007"
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "base": [
                  {
                    "error": "phone_number_or_password_invalid"
                  }
                ]
              }
            }

## Поновлення токену авторизації для сесії [/api/v1/auth/refresh]

### Запити поновлення токену [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: 9d5d3fa767642fcf37989f9683993488
            X-Refresh-Token: eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NzY5NzQ5NDUsInNlc3Npb25fdG9rZW4iOiIxNzVhNmFkNi0xYzUxLTRiNjAtYTFlNC05Y2E1YzI2MGZjMzUiLCJ1c2VyX2lkIjo5NSwidWlkIjoiNjI5Y2EyZTAtYWFjMC00ZDU2LWI4MWItMzA1ZGUxZDFjYzFiIiwiZXhwIjoxNjc5NjAxMDkxfQ.BC-kAvStHJYpeMyjFmf3wUzqZmoR1HVye_UK2nTdvoI

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": null,
                "access": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NzY5ODI3NjMsInVzZXJfdHlwZV9pZCI6MCwib3duZXJfaWQiOjk1LCJyb2xlX2lkIjpudWxsLCJzZXNzaW9uX3Rva2VuIjoiZjViNmJjODUtODI1My00MTdmLWJiMmMtMzMyYTZhOGU1NGE5IiwidXNlcl9pZCI6OTUsInVpZCI6ImRiYzhmYWMwLTBjMjctNDgwOS1hZGUxLTA2OGM0NTZmM2ZhNiIsImV4cCI6MTY3OTYwODkwOX0.HOjLHycrS62i7UqMPcXB4EMI2qpOdqINLHkbj92wXSo",
                "access_expires_at": "2023-03-23T22:01:49.000+00:00",
                "csrf": "xMt3hxr41k+snNPbQnKYF1FwAYA+PmRn7OrJh/tRVypD3mFX9/F/FtzIER55VXAwWpwHI6dxcpt083v0rKqYAw==",
                "refresh": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NzY5ODI3NjMsInNlc3Npb25fdG9rZW4iOiJmNWI2YmM4NS04MjUzLTQxN2YtYmIyYy0zMzJhNmE4ZTU0YTkiLCJ1c2VyX2lkIjo5NSwidWlkIjoiNDgwNTk1ZTItZmI3Yi00OGJmLWI0ZjUtZmViMThmOWZiODdkIiwiZXhwIjoxNjc5NjA4OTA5fQ.Kj7rUy9nFrljQjDJVifPSQnNZienDaSTV-CGj1QsPSg",
                "refresh_expires_at": "2023-03-23T22:01:49.000+00:00"
              },
              "meta": {}
            }

+ Request (application/json)

    + Headers

            X-Api-Key: 2e466ad9a4b2c60de130717daf6f64fe
            X-Refresh-Token: eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NzY5NzQ5NDUsInNlc3Npb25fdG9rZW4iOiIxNzVhNmFkNi0xYzUxLTRiNjAtYTFlNC05Y2E1YzI2MGZjMzUiLCJ1c2VyX2lkIjo5NSwidWlkIjoiNjI5Y2EyZTAtYWFjMC00ZDU2LWI4MWItMzA1ZGUxZDFjYzFiIiwiZXhwIjoxNjc5NjAxMDkxfQ.BC-kAvStHJYpeMyjFmf3wUzqZmoR1HVye_UK2nTdvoI

+ Response 401 (application/json)

    + Headers



    + Body

            {
              "message": "Unauthorized"
            }

## Вихід з системи [/api/v1/auth/sessions/logout]

### Закриття поточної сесії [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: 83a89eb9599cfbf3530afc04bbb2033e
            Authorization: eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MTY0MTc0OTcsInVzZXJfdHlwZV9pZCI6MSwib3duZXJfaWQiOjEwMzc1OSwicm9sZV9pZCI6bnVsbCwic2Vzc2lvbl90b2tlbiI6Ijk1ZWQ0ZThhLTg4ODItNGIxNS1iNzE0LTBhZjhmZGVjN2IzMiIsInVzZXJfaWQiOjEwMzc1OSwidWlkIjoiNDljYjZjMDItOTk1MS00YzZiLTllNTUtZTJkMmI2MTVmNWJiIiwiZXhwIjoxNjE2NTAwMjk3fQ.EViIn3HTNGHcQ0jFq1ZrJzPhcksJoj3yOw6afgSSMMI

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": "49cb6c02-9951-4c6b-9e55-e2d2b615f5bb"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: e42b1f2404e771b4bcc9258d4d0db8b2
            Authorization: wrong

+ Response 401 (application/json)

    + Headers



    + Body

            {
              "message": "Unauthorized"
            }
# Group Термінали

## Список терміналів [/api/v1/pos/terminals]

+ Parameters
  + id (optional, nilclass | integer) - Ідентифікатор терміналу
  + name (optional, string) - Назва терміналу
  + shop_id (optional, nilclass | integer) - Ідентифікатор торгової точки
  + page (optional, integer) - Сторінка
  + per_page (optional, integer) - Кількіть записів на сторінку

### Отримання списку терміналів [GET]

+ Request 200 OK. Список всіх терміналів (application/json)

    + Headers

            X-Api-Key: e8849d4ee38e18c051570b5f35f575b1

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 20007,
                  "activated_at": null,
                  "core_terminal_id": 1,
                  "created_at": "2021-03-22T13:52:06.216+02:00",
                  "name": "Test terminal",
                  "picture": {
                    "id": "cd8479459fe1e42d67d4be153101cbdc",
                    "filename": "test.png",
                    "mime_type": "image/png",
                    "size": 8132,
                    "url": "/uploads/store/cd8479459fe1e42d67d4be153101cbdc"
                  },
                  "properties": null,
                  "serial_number": "108210974046530",
                  "shop_id": 37958,
                  "state": 1,
                  "updated_at": "2021-03-22T13:52:06.216+02:00"
                }
              ],
              "meta": {
                "current_page": 1,
                "next_page": null,
                "prev_page": null,
                "total_pages": 1,
                "total_count": 1,
                "limit_value": 25,
                "offset_value": 0
              }
            }

+ Request 200 OK. Список активних терміналів (application/json)

    + Headers

            X-Api-Key: eb6ef4838100d6c6b5beb73d0e74cb1b

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 20008,
                  "activated_at": null,
                  "core_terminal_id": 1,
                  "created_at": "2021-03-22T13:52:06.282+02:00",
                  "name": "Test terminal",
                  "picture": {
                    "id": "6184c11ced2cceaf07b10287047dbc83",
                    "filename": "test.png",
                    "mime_type": "image/png",
                    "size": 8132,
                    "url": "/uploads/store/6184c11ced2cceaf07b10287047dbc83"
                  },
                  "properties": null,
                  "serial_number": "451257056848021",
                  "shop_id": 37959,
                  "state": 1,
                  "updated_at": "2021-03-22T13:52:06.282+02:00"
                }
              ],
              "meta": {
                "current_page": 1,
                "next_page": null,
                "prev_page": null,
                "total_pages": 1,
                "total_count": 1,
                "limit_value": 25,
                "offset_value": 0
              }
            }

+ Request 200 OK. Список терміналів на обраній торговій точці (application/json)

    + Headers

            X-Api-Key: ac7c65e98d2853ad105d033127b6761d

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 20009,
                  "activated_at": null,
                  "core_terminal_id": 1,
                  "created_at": "2021-03-22T13:52:06.355+02:00",
                  "name": "Test terminal",
                  "picture": {
                    "id": "2c2d9e27c616cdda7aff6bf7f8988711",
                    "filename": "test.png",
                    "mime_type": "image/png",
                    "size": 8132,
                    "url": "/uploads/store/2c2d9e27c616cdda7aff6bf7f8988711"
                  },
                  "properties": null,
                  "serial_number": "917235412525234",
                  "shop_id": 37960,
                  "state": 1,
                  "updated_at": "2021-03-22T13:52:06.355+02:00"
                }
              ],
              "meta": {
                "current_page": 1,
                "next_page": null,
                "prev_page": null,
                "total_pages": 1,
                "total_count": 1,
                "limit_value": 25,
                "offset_value": 0
              }
            }

## Операції з терміналом [/api/v1/pos/terminals/{id}]

+ Parameters
  + id (optional, nilclass | integer) - Ідентифікатор терміналу
  + name (optional, string) - Назва терміналу
  + shop_id (optional, nilclass | integer) - Ідентифікатор торгової точки

### Отримання інформації про термінал [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: 12070f91be39a40291c8d421215cc049

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 20011,
                "activated_at": null,
                "core_terminal_id": 1,
                "created_at": "2021-03-22T13:52:06.603+02:00",
                "name": "Test terminal",
                "picture": {
                  "id": "3e276fb6692553a0ac665c9a48745dee",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132,
                  "url": "/uploads/store/3e276fb6692553a0ac665c9a48745dee"
                },
                "properties": null,
                "serial_number": "981340041313795",
                "shop_id": 37963,
                "state": 1,
                "updated_at": "2021-03-22T13:52:06.603+02:00"
              },
              "meta": {
              }
            }

### Оновлення даних терміналу [PUT]

+ Request (application/json)

    + Headers

            X-Api-Key: ac769909e6749cf6bfe65d8d4f1d0e20

    + Body

            {
              "terminal": {
                "id": 20012,
                "name": "Suscipit quis et odit.",
                "shop_id": 37964
              }
            }

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 20012,
                "activated_at": null,
                "core_terminal_id": 1,
                "created_at": "2021-03-22T13:52:06.675+02:00",
                "name": "Suscipit quis et odit.",
                "picture": {
                  "id": "5889920bac63c1660e25da2592a61889",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132,
                  "url": "/uploads/store/5889920bac63c1660e25da2592a61889"
                },
                "properties": null,
                "serial_number": "863684811804753",
                "shop_id": 37964,
                "state": 1,
                "updated_at": "2021-03-22T13:52:06.675+02:00"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: b805082e4eea376237f2e3ac329e441b

    + Body

            {
              "terminal": {
                "id": 20014,
                "name": "Suscipit quis et odit.",
                "shop_id": "wrong"
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": "[Pos::TerminalForm.new] \"wrong\" (String) has invalid type for :shop_id violates constraints (invalid value for Integer(): \"wrong\" failed)"
            }

### Видалення терміналу [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: 8ae8281d6c884a2ccb9a9bca207d1f29

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 20016,
                "activated_at": null,
                "core_terminal_id": 1,
                "created_at": "2021-03-22T13:52:06.921+02:00",
                "name": "Test terminal",
                "properties": null,
                "serial_number": "497787772057768",
                "shop_id": 1,
                "state": 1,
                "updated_at": "2021-03-22T13:52:06.921+02:00"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: ca78427f808ddb1767c4d06977f34ddd

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "id": [
                  {
                    "error": "invalid"
                  }
                ]
              }
            }
# Group Торгові точки

## Список торгових точок [/api/v1/rsn/shops]

### Отримання списку торгових точок [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: 44f56c7d45ab5c4c74e636b300c93c0e

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 37969,
                  "address": {
                    "id": 38197,
                    "address_type_id": 0,
                    "city_name": "Київ",
                    "content": "пров. Вічева, 17",
                    "created_at": "2021-03-22T13:52:08.214+02:00",
                    "updated_at": "2021-03-22T13:52:08.214+02:00",
                    "zip_code": "08800"
                  },
                  "business_category_id": 1,
                  "created_at": "2021-03-22T13:52:08.206+02:00",
                  "email": "britt@macgyver.name",
                  "employees_count": 0,
                  "fiscal_numbers": [

                  ],
                  "fiscalization_enabled": false,
                  "is_excise_taxation": false,
                  "is_vat_taxation": true,
                  "owner_id": 1,
                  "phone_number": "0971234567",
                  "state": 0,
                  "terminals_count": 0,
                  "title": "Test shop",
                  "updated_at": "2021-03-22T13:52:08.206+02:00",
                  "website_url": "https://www.example.com"
                }
              ],
              "meta": {
                "current_page": 1,
                "next_page": null,
                "prev_page": null,
                "total_pages": 1,
                "total_count": 1,
                "limit_value": 25,
                "offset_value": 0
              }
            }

+ Parameters
  + title (optional, string) - Назва торгової точки
  + phone_number (optional, string) - Номер телефону
  + email (optional, string) - Email
  + address (optional, nilclass | rsn::shopaddressform) - Об'єкт адреси
  + state (optional, integer) - Статус
  + website_url (optional, string) - Посилання на сайт
  + business_category_id (optional, nilclass | integer) - Сфера діяльності
  + picture (optional, smartkasa::utils::uploadedfile) - Зображення
  + fiscal_numbers (optional, nilclass | array) - Список номерів пРРО
  + fiscalization_enabled (optional, trueclass | falseclass) - Ознака фіскалізації
  + is_vat_taxation (optional, trueclass | falseclass) - Ознака платника ПДВ
  + is_excise_taxation (optional, trueclass | falseclass) - Ознака додаткових зборів

### Створення нової торгової точки [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: 485d656445480dc1409d5258fbbbf9a0

    + Body

            {
              "shop": {
                "title": "Test shop",
                "email": "rolandekling@lockman.biz",
                "phone_number": "0971234567",
                "state": 0,
                "website_url": "https://www.example.com",
                "business_category_id": 1,
                "fiscal_numbers": [

                ],
                "fiscalization_enabled": false,
                "is_vat_taxation": true,
                "is_excise_taxation": false,
                "address": {
                  "zip_code": "08800",
                  "city_name": "Київ",
                  "content": "вулиця Молодіжна, 195"
                }
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 37968,
                "address": {
                  "id": 38196,
                  "address_type_id": 0,
                  "city_name": "Київ",
                  "content": "вулиця Молодіжна, 195",
                  "created_at": "2021-03-22T13:52:08.158+02:00",
                  "updated_at": "2021-03-22T13:52:08.158+02:00",
                  "zip_code": "08800"
                },
                "business_category_id": 1,
                "created_at": "2021-03-22T13:52:08.148+02:00",
                "email": "rolandekling@lockman.biz",
                "employees_count": 0,
                "fiscal_numbers": [

                ],
                "fiscalization_enabled": false,
                "is_excise_taxation": false,
                "is_vat_taxation": true,
                "owner_id": 1,
                "phone_number": "380971234567",
                "state": 0,
                "terminals_count": 0,
                "title": "Test shop",
                "updated_at": "2021-03-22T13:52:08.148+02:00",
                "website_url": "https://www.example.com"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: f09fd4c40f06d465e384be22767fc52a

    + Body

            {
              "shop": {
                "title": "",
                "email": "rolandekling@lockman.biz",
                "phone_number": "0971234567",
                "state": 0,
                "website_url": "https://www.example.com",
                "business_category_id": 1,
                "fiscal_numbers": [

                ],
                "fiscalization_enabled": false,
                "is_vat_taxation": true,
                "is_excise_taxation": false,
                "address": {
                  "zip_code": "08800",
                  "city_name": "Київ",
                  "content": "вулиця Молодіжна, 195"
                }
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "title": [
                  {
                    "error": "blank"
                  }
                ]
              }
            }


## Операції з торговою точкою [/api/v1/rsn/shops/{id}]

+ Parameters
  + title (optional, string) - Назва торгової точки
  + phone_number (optional, string) - Номер телефону
  + email (optional, string) - Email
  + address (optional, nilclass | rsn::shopaddressform) - Об'єкт адреси
  + state (optional, integer) - Статус
  + website_url (optional, string) - Посилання на сайт
  + business_category_id (optional, nilclass | integer) - Сфера діяльності
  + picture (optional, smartkasa::utils::uploadedfile) - Зображення
  + fiscal_numbers (optional, nilclass | array) - Список номерів пРРО
  + fiscalization_enabled (optional, trueclass | falseclass) - Ознака фіскалізації
  + is_vat_taxation (optional, trueclass | falseclass) - Ознака платника ПДВ
  + is_excise_taxation (optional, trueclass | falseclass) - Ознака додаткових зборів


### Інформація про торгову точку [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: be3713d3b5429ea2a8a74dd3119c1f42

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 37971,
                "address": {
                  "id": 38199,
                  "address_type_id": 0,
                  "city_name": "Київ",
                  "content": "пл. Молодіжна, 151",
                  "created_at": "2021-03-22T13:52:08.350+02:00",
                  "updated_at": "2021-03-22T13:52:08.350+02:00",
                  "zip_code": "08800"
                },
                "business_category_id": 1,
                "created_at": "2021-03-22T13:52:08.347+02:00",
                "email": "theresa@runolfon.com",
                "employees_count": 0,
                "fiscal_numbers": [

                ],
                "fiscalization_enabled": false,
                "is_excise_taxation": false,
                "is_vat_taxation": true,
                "owner_id": 1,
                "phone_number": "0971234567",
                "state": 0,
                "terminals_count": 0,
                "title": "Test shop",
                "updated_at": "2021-03-22T13:52:08.347+02:00",
                "website_url": "https://www.example.com"
              },
              "meta": {
              }
            }

### Оновлення даних торгової точки [PUT]

+ Request (application/json)

    + Headers

            X-Api-Key: d610056bdca03c50f3cf2af46d658fee

    + Body

            {
              "shop": {
                "title": "New title",
                "email": "rolandekling@lockman.biz",
                "phone_number": "0971234567",
                "state": 0,
                "website_url": "https://www.example.com",
                "business_category_id": 1,
                "fiscal_numbers": [

                ],
                "fiscalization_enabled": false,
                "is_vat_taxation": true,
                "is_excise_taxation": false,
                "address": {
                  "zip_code": "08800",
                  "city_name": "Київ",
                  "content": "вулиця Молодіжна, 195"
                }
              }
            }

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 37972,
                "address": {
                  "id": 38200,
                  "address_type_id": 0,
                  "city_name": "Київ",
                  "content": "вулиця Молодіжна, 195",
                  "created_at": "2021-03-22T13:52:08.416+02:00",
                  "updated_at": "2021-03-22T13:52:08.416+02:00",
                  "zip_code": "08800"
                },
                "business_category_id": 1,
                "created_at": "2021-03-22T13:52:08.413+02:00",
                "email": "rolandekling@lockman.biz",
                "employees_count": 0,
                "fiscal_numbers": [

                ],
                "fiscalization_enabled": false,
                "is_excise_taxation": false,
                "is_vat_taxation": true,
                "owner_id": 1,
                "phone_number": "380971234567",
                "state": 0,
                "terminals_count": 0,
                "title": "New title",
                "updated_at": "2021-03-22T13:52:08.413+02:00",
                "website_url": "https://www.example.com"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: 801e2722410c6189d5c94fade3b64b7b

    + Body

            {
              "shop": {
                "title": "",
                "email": "rolandekling@lockman.biz",
                "phone_number": "0971234567",
                "state": 0,
                "website_url": "https://www.example.com",
                "business_category_id": 1,
                "fiscal_numbers": [

                ],
                "fiscalization_enabled": false,
                "is_vat_taxation": true,
                "is_excise_taxation": false,
                "address": {
                  "zip_code": "08800",
                  "city_name": "Київ",
                  "content": "вулиця Молодіжна, 195"
                }
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "title": [
                  {
                    "error": "blank"
                  }
                ]
              }
            }

### Видалення торгової точки [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: 2e0c83bb93e0059de2f057c26a677d75

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 37974
              },
              "meta": {
              }
            }


## Перелік працівників на торговій точці [/api/v1/rsn/shops/employees]

### Отримання списку працівник на торговій точці [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: 938dc56c57cd7f264cbb8444134a4970

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 37970,
                  "employees": [
                    {
                      "id": 1306,
                      "first_name": "Потап",
                      "last_name": "Майстренко",
                      "role_id": 1,
                      "state": 0,
                      "updated_at": "2021-03-22T13:52:08.280+02:00"
                    }
                  ],
                  "employees_count": 0,
                  "state": 0,
                  "title": "Test shop"
                }
              ],
              "meta": {
                "total_count": 1
              }
            }

# Group Працівники

## Список працівників [/api/v1/rsn/employees]

+ Parameters
  + phone_number (optional, string) - Номер телефону
  + email (optional, string) - Email
  + first_name (optional, string) - Ім’я
  + last_name (optional, string) - Прізвище
  + middle_name (optional, string) - По-Батькові
  + inn (optional, string) - ІПН
  + passport_serial (optional, string) - Паспорт - серія
  + passport_number (optional, string) - Паспорт - номер
  + role_id (optional, integer) - Ідентифікатор посади
  + address_actual (optional, nilclass | rsn::addressform) - Адреса проживання
  + address_legal (optional, nilclass | rsn::addressform) - Адреса прописки
  + joined_at (optional, datetime) - День початку роботи у компанії
  + birthday (optional, datetime) - День народження
  + gender_type_id (optional, integer) - Стать
  + notes (optional, string) - Помітки
  + additional_phone_number (optional, nilclass | string) - Додатковий телефон
  + pin_code (optional, string) - Код доступу до каси
  + avatar (optional, smartkasa::utils::uploadedfile) - Фото

### Отримання списку працівників [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: bb852b2d6ccc5ce4583d25332b3efc84

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 1300,
                  "additional_phone_number": null,
                  "birthday": "1980-01-01T00:00:00.000+00:00",
                  "created_at": "2021-03-22T13:52:07.666+02:00",
                  "email": "chrisspencer@kuphalkunze.biz",
                  "first_name": "Богдан",
                  "gender_type_id": 1,
                  "inn": "1234567891",
                  "joined_at": null,
                  "last_name": "Палій",
                  "middle_name": null,
                  "notes": "Quos ut porro et.",
                  "passport_number": "123456",
                  "passport_serial": "SN",
                  "phone_number": "380970000016",
                  "role": {
                    "id": 856,
                    "created_at": "2021-03-22T13:52:07.645+02:00",
                    "name": "Test",
                    "state": 0,
                    "updated_at": "2021-03-22T13:52:07.645+02:00"
                  },
                  "role_id": 856,
                  "state": 0,
                  "updated_at": "2021-03-22T13:52:07.666+02:00"
                }
              ],
              "meta": {
                "current_page": 1,
                "next_page": null,
                "prev_page": null,
                "total_pages": 1,
                "total_count": 1,
                "limit_value": 25,
                "offset_value": 0
              }
            }

### Створення нового працівника [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: df2ef49d8f7c9d63942e90b5baa1bf6a

    + Body

            {
              "employee": {
                "avatar": {
                  "id": "uploads/cache/ed9cceadff03afb63bebb732e56e804e",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132
                },
                "email": "bo@schmidt.net",
                "first_name": "Віктор",
                "middle_name": "Гордійчук",
                "last_name": "Лагойда",
                "phone_number": "0971234567",
                "inn": "1234567891",
                "pin_code": "1123",
                "passport_serial": "SN",
                "passport_number": "123456",
                "role_id": 854,
                "address_actual": {
                  "zip_code": "08800",
                  "content": "пров. Вічева, 5"
                },
                "address_legal": {
                  "zip_code": "08132",
                  "content": "пр. Нижанківського, 196"
                },
                "birthday": "1980-01-01",
                "joined_at": "2012-01-01",
                "gender_type_id": 1,
                "notes": "Voluptatem quod laborum porro.",
                "additional_phone_number": "0971234568"
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 1299,
                "additional_phone_number": "380971234568",
                "address_legal": {
                  "id": 38195,
                  "address_type_id": 1,
                  "city_id": null,
                  "city_name": null,
                  "content": "пр. Нижанківського, 196",
                  "created_at": "2021-03-22T13:52:07.548+02:00",
                  "region_id": null,
                  "updated_at": "2021-03-22T13:52:07.548+02:00",
                  "zip_code": "08132"
                },
                "avatar": {
                  "id": "70f44ebb9cf6a79efb0c2e1b9c2b1414.png",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132,
                  "url": "/uploads/store/70f44ebb9cf6a79efb0c2e1b9c2b1414.png"
                },
                "birthday": "1980-01-01T00:00:00.000+00:00",
                "created_at": "2021-03-22T13:52:07.546+02:00",
                "email": "bo@schmidt.net",
                "first_name": "Віктор",
                "gender_type_id": 1,
                "inn": "1234567891",
                "joined_at": "2012-01-01T00:00:00.000+00:00",
                "last_name": "Лагойда",
                "middle_name": "Гордійчук",
                "notes": "Voluptatem quod laborum porro.",
                "passport_number": "123456",
                "passport_serial": "SN",
                "phone_number": "380971234567",
                "pin_code": "1123",
                "role": {
                  "id": 854,
                  "created_at": "2021-03-22T13:52:07.473+02:00",
                  "name": "Test",
                  "state": 0,
                  "updated_at": "2021-03-22T13:52:07.473+02:00"
                },
                "role_id": 854,
                "state": 0,
                "updated_at": "2021-03-22T13:52:07.546+02:00"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: 00feb87c41dac46fad46e04ac26510f7

    + Body

            {
              "employee": {
                "avatar": {
                  "id": "uploads/cache/5633319b5f7dc1c1d6361f65d10d95cf",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132
                },
                "email": "bo@schmidt.net",
                "first_name": "",
                "middle_name": "Гордійчук",
                "last_name": "Лагойда",
                "phone_number": "0971234567",
                "inn": "1234567891",
                "pin_code": "1123",
                "passport_serial": "SN",
                "passport_number": "123456",
                "role_id": 1,
                "address_actual": {
                  "zip_code": "08800",
                  "content": "пров. Вічева, 5"
                },
                "address_legal": {
                  "zip_code": "08132",
                  "content": "пр. Нижанківського, 196"
                },
                "birthday": "1980-01-01",
                "joined_at": "2012-01-01",
                "gender_type_id": 1,
                "notes": "Voluptatem quod laborum porro.",
                "additional_phone_number": "0971234568"
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "first_name": [
                  {
                    "error": "blank"
                  }
                ]
              }
            }


## Операції з працівником [/api/v1/rsn/employees/{id}]

+ Parameters
  + phone_number (optional, string) - Номер телефону
  + email (optional, string) - Email
  + first_name (optional, string) - Ім’я
  + last_name (optional, string) - Прізвище
  + middle_name (optional, string) - По-Батькові
  + inn (optional, string) - ІПН
  + passport_serial (optional, string) - Паспорт - серія
  + passport_number (optional, string) - Паспорт - номер
  + role_id (optional, integer) - Ідентифікатор посади
  + address_actual (optional, nilclass | rsn::addressform) - Адреса проживання
  + address_legal (optional, nilclass | rsn::addressform) - Адреса прописки
  + joined_at (optional, datetime) - День початку роботи у компанії
  + birthday (optional, datetime) - День народження
  + gender_type_id (optional, integer) - Стать
  + notes (optional, string) - Помітки
  + additional_phone_number (optional, nilclass | string) - Додатковий телефон
  + pin_code (optional, string) - Код доступу до каси
  + avatar (optional, smartkasa::utils::uploadedfile) - Фото

### Видалення працівника [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: 1d68227fd55c4896900508bcd7f5a89b

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 1304
              },
              "meta": {
              }
            }

### Оновлення профілю працівника [PUT]

+ Request (application/json)

    + Headers

            X-Api-Key: ad0d0c82daa1bc3c09eb1bc2116c0811

    + Body

            {
              "employee": {
                "avatar": {
                  "id": "uploads/cache/a9104b9b143d42a5c49ac4c11876c193",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132
                },
                "email": "bo@schmidt.net",
                "first_name": "New name",
                "middle_name": "Гордійчук",
                "last_name": "Лагойда",
                "phone_number": "0971234567",
                "inn": "1234567891",
                "pin_code": "1123",
                "passport_serial": "SN",
                "passport_number": "123456",
                "role_id": 1,
                "address_actual": {
                  "zip_code": "08800",
                  "content": "пров. Вічева, 5"
                },
                "address_legal": {
                  "zip_code": "08132",
                  "content": "пр. Нижанківського, 196"
                },
                "birthday": "1980-01-01",
                "joined_at": "2012-01-01",
                "gender_type_id": 1,
                "notes": "Voluptatem quod laborum porro.",
                "additional_phone_number": "0971234568"
              }
            }

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 1302,
                "additional_phone_number": "380971234568",
                "avatar": {
                  "id": "2c10d4c8bb4f5e07f7c9f54dd9bff2af.png",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132,
                  "url": "/uploads/store/2c10d4c8bb4f5e07f7c9f54dd9bff2af.png"
                },
                "birthday": "1980-01-01T00:00:00.000+00:00",
                "created_at": "2021-03-22T13:52:07.820+02:00",
                "email": "bo@schmidt.net",
                "first_name": "New name",
                "gender_type_id": 1,
                "inn": "1234567891",
                "joined_at": "2012-01-01T00:00:00.000+00:00",
                "last_name": "Лагойда",
                "middle_name": "Гордійчук",
                "notes": "Voluptatem quod laborum porro.",
                "passport_number": "123456",
                "passport_serial": "SN",
                "phone_number": "380971234567",
                "pin_code": null,
                "role_id": 1,
                "state": 0,
                "updated_at": "2021-03-22T13:52:07.820+02:00"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: e75990bad89e8b1f1f7f52965644babe

    + Body

            {
              "employee": {
                "avatar": {
                  "id": "uploads/cache/f3a63f5f4186bdfe4258ebd7476ae0a1",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132
                },
                "email": "bo@schmidt.net",
                "first_name": "",
                "middle_name": "Гордійчук",
                "last_name": "Лагойда",
                "phone_number": "0971234567",
                "inn": "1234567891",
                "pin_code": "1123",
                "passport_serial": "SN",
                "passport_number": "123456",
                "role_id": 1,
                "address_actual": {
                  "zip_code": "08800",
                  "content": "пров. Вічева, 5"
                },
                "address_legal": {
                  "zip_code": "08132",
                  "content": "пр. Нижанківського, 196"
                },
                "birthday": "1980-01-01",
                "joined_at": "2012-01-01",
                "gender_type_id": 1,
                "notes": "Voluptatem quod laborum porro.",
                "additional_phone_number": "0971234568"
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "first_name": [
                  {
                    "error": "blank"
                  }
                ]
              }
            }

### Інформація про працівника [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: 70cff165b29ac6edb9444782f321b790

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 1301,
                "additional_phone_number": null,
                "birthday": "1980-01-01T00:00:00.000+00:00",
                "created_at": "2021-03-22T13:52:07.741+02:00",
                "email": "alphonsolubowitz@lakin.com",
                "first_name": "Зорян",
                "gender_type_id": 1,
                "inn": "1234567891",
                "joined_at": null,
                "last_name": "Павлишин",
                "middle_name": null,
                "notes": "Quos aspernatur quis et.",
                "passport_number": "123456",
                "passport_serial": "SN",
                "phone_number": "380970000017",
                "pin_code": "6122",
                "role": {
                  "id": 857,
                  "created_at": "2021-03-22T13:52:07.716+02:00",
                  "name": "Test",
                  "state": 0,
                  "updated_at": "2021-03-22T13:52:07.716+02:00"
                },
                "role_id": 857,
                "state": 0,
                "updated_at": "2021-03-22T13:52:07.741+02:00"
              },
              "meta": {
              }
            }
# Group Одиниці виміру

## Список одиниць виміру [/api/v1/inventory/unit_types]

### Отримання списку одиниць виміру [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: 44f56c7d45ab5c4c74e636b300c93c0e

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 12,
                  "code": 175,
                  "is_visible": true,
                  "is_weighted": false,
                  "name": "Година",
                  "short_name": "год"
                },
                {
                  "id": 9,
                  "code": 303,
                  "is_visible": true,
                  "is_weighted": true,
                  "name": "Грам",
                  "short_name": "гр"
                },
                {
                  "id": 10,
                  "code": 301,
                  "is_visible": true,
                  "is_weighted": true,
                  "name": "Кілограм",
                  "short_name": "кг"
                },
                {
                  "id": 7,
                  "code": 102,
                  "is_visible": true,
                  "is_weighted": false,
                  "name": "Кілометр",
                  "short_name": "км"
                },
                {
                  "id": 8,
                  "code": 101,
                  "is_visible": true,
                  "is_weighted": false,
                  "name": "Метр",
                  "short_name": "м"
                },
                {
                  "id": 13,
                  "code": 144,
                  "is_visible": true,
                  "is_weighted": true,
                  "name": "Міліметр",
                  "short_name": "мм"
                },
                {
                  "id": 5,
                  "code": 2061,
                  "is_visible": true,
                  "is_weighted": false,
                  "name": "Пляшка",
                  "short_name": "пляшка"
                },
                {
                  "id": 6,
                  "code": 3011,
                  "is_visible": true,
                  "is_weighted": false,
                  "name": "Порція",
                  "short_name": "порція"
                },
                {
                  "id": 14,
                  "code": 104,
                  "is_visible": true,
                  "is_weighted": true,
                  "name": "Сантиметр",
                  "short_name": "см"
                },
                {
                  "id": 11,
                  "code": 178,
                  "is_visible": true,
                  "is_weighted": false,
                  "name": "Хвилина",
                  "short_name": "хв"
                },
                {
                  "id": 4,
                  "code": 2009,
                  "is_visible": true,
                  "is_weighted": false,
                  "name": "Штука",
                  "short_name": "шт"
                }
              ],
              "meta": {
                "total_count": 11
              }
            }


# Group Каталоги

## Список каталогів [/api/v1/inventory/categories]

+ Parameters
  + id (optional, string) - Ідентифікатор каталогу
  + title (optional, string) - Назва каталогу
  + parent_id (optional, string) - Ідентифікатор батьківського каталогу
  + color_id (optional, nilclass | integer) - Ідентифікатор кольору (enum)
  + shop_ids (optional, nilclass | array) - Масив ідентифікаторів торгових точок

### Отримання списку каталогів [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: 92f8f4f6da311f2515db4789421ec23d

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": "870798b3-224f-4e1d-bff9-8499027f1c9a",
                  "color_id": 0,
                  "created_at": "2021-03-22T13:51:47.935+02:00",
                  "parent_id": null,
                  "partner": {
                    "id": 7697,
                    "code": "744328675",
                    "created_at": "2021-03-22T13:51:47.933+02:00",
                    "name": "ДП Львівтрейд",
                    "partner_type_id": 0,
                    "state": 0,
                    "title": "Just for test",
                    "updated_at": "2021-03-22T13:51:47.933+02:00"
                  },
                  "partner_id": 7697,
                  "products_count": 0,
                  "shop_ids": [

                  ],
                  "title": "Recusandae eos eum ea.",
                  "updated_at": "2021-03-22T13:51:47.935+02:00"
                }
              ],
              "meta": {
                "current_page": 1,
                "next_page": null,
                "prev_page": null,
                "total_pages": 1,
                "total_count": 1,
                "limit_value": 25,
                "offset_value": 0
              }
            }

### Створення нового каталогу [POST]

+ Request 201 Created. Приклад запиту створення дочірнього каталогу (application/json)

    + Headers

            X-Api-Key: b77285a59e1ad4ccdf312754015a823c

    + Body

            {
              "category": {
                "title": "Natus et quod voluptas.",
                "color": 2,
                "partner_id": 7699,
                "parent_id": "f3ad326f-cf21-454d-9d4c-aab98213c7d2"
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": "06aa5d56-4922-44e1-91d5-01feb0431a31",
                "color_id": null,
                "created_at": "2021-03-22T11:51:48.296+02:00",
                "parent_id": "f3ad326f-cf21-454d-9d4c-aab98213c7d2",
                "partner_id": 7699,
                "products_count": 0,
                "shop_ids": [

                ],
                "title": "Natus et quod voluptas.",
                "updated_at": "2021-03-22T11:51:48.296+02:00"
              },
              "meta": {
              }
            }

+ Request 201 Created. Приклад запиту створення рутового каталогу (application/json)

    + Headers

            X-Api-Key: 45f7d61c23d701474979957a40c03c31

    + Body

            {
              "category": {
                "title": "Natus et quod voluptas.",
                "color": 2
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": "836d06aa-0097-4377-afd6-6ea051f077ec",
                "color_id": null,
                "created_at": "2021-03-22T11:51:48.150+02:00",
                "parent_id": null,
                "partner_id": null,
                "products_count": 0,
                "shop_ids": [

                ],
                "title": "Natus et quod voluptas.",
                "updated_at": "2021-03-22T11:51:48.150+02:00"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: 3e023dbea6778cf17b07c553cfa8efe8

    + Body

            {
              "category": {
                "title": "",
                "color": 2
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "title": [
                  {
                    "error": "blank"
                  }
                ]
              }
            }

## Операції з каталогом [/api/v1/inventory/categories/{id}]

### Оновлення інформації про каталог [PUT]

+ Request (application/json)

    + Headers

            X-Api-Key: 76dd39136b7ae32d33a83bfcab237870

    + Body

            {
              "category": {
                "id": "6a578a21-ff67-4970-ad46-a6497a8504b5",
                "title": "Natus et quod voluptas.",
                "color": 2
              }
            }

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": "6a578a21-ff67-4970-ad46-a6497a8504b5",
                "color_id": 0,
                "created_at": "2021-03-22T13:51:48.382+02:00",
                "parent_id": null,
                "partner_id": 7701,
                "products_count": 0,
                "shop_ids": [

                ],
                "title": "Natus et quod voluptas.",
                "updated_at": "2021-03-22T11:51:48.428+02:00"
              },
              "meta": {
              }
            }

+ Parameters
  + id (optional, string) - Ідентифікатор каталогу
  + title (optional, string) - Назва каталогу
  + parent_id (optional, string) - Ідентифікатор батьківського каталогу
  + color_id (optional, nilclass | integer) - Ідентифікатор кольору (enum)
  + shop_ids (optional, nilclass | array) - Масив ідентифікаторів торгових точок

### Видалення каталогу [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: 88aa6b2e20ebf122812db3286a40c734

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": "e5d2034b-f758-4c0c-9286-97d0816ec4d3",
                "color_id": 0,
                "created_at": "2021-03-22T13:51:48.445+02:00",
                "parent_id": null,
                "partner_id": 7702,
                "products_count": 0,
                "shop_ids": [

                ],
                "title": "Architecto consequuntur a porro.",
                "updated_at": "2021-03-22T13:51:48.445+02:00"
              },
              "meta": {
              }
            }
# Group Товари

## Список товарів [/api/v1/inventory/products]


### Отримання списку товарів [GET]

+ Parameters
  + q (optional, string) - Пошуковий запит (повнотекстовий пошук)
  + number (optional, string) - Штрих-код
  + shop_id (optional, integer) - Ідентифікатор торгової точки
  + subgroup_id (optional, integer) - Ідентифікатор товарної підгрупи
  + category_id (optional, string) - Ідентифікатор каталогу
  + page (optional, string) - Номер сторінки (пагінація)
  + per_page (optional, string) - Кількість записів на сторінку (пагінація)

+ Request (application/json)
    + Headers
            X-Api-Key: 48295c05bd4bde8df2f1ece41d4352d5

+ Response 200 (application/json)
    + Attributes (Product)
    + Headers
    + Body
            {
              "data": [
                {
                  "id": "6ba87885-a4af-47ac-a31a-50de0d6b93ce",
                  "alter_number": "9909720899",
                  "alter_title": "Exercitationem aut atque fugiat.",
                  "bookmark_ids": [

                  ],
                  "category_id": "6718d176-b9d2-42d2-a22d-afb7728f0303",
                  "category_type_id": 7537043,
                  "classifier_code": "123456789012345",
                  "classifier_type_id": 1,
                  "created_at": "2021-03-22T13:51:49.603+02:00",
                  "is_free_price": false,
                  "is_without_number": false,
                  "number": "1944840247",
                  "owner_id": 103927,
                  "partner": {
                    "id": 7706,
                    "code": null,
                    "created_at": null,
                    "name": null,
                    "partner_type_id": null,
                    "state": null,
                    "title": "Just for test",
                    "updated_at": null
                  },
                  "partner_id": 7706,
                  "partner_title": "Just for test",
                  "picture": {
                    "id": "fdd86b0b8767eb6397988ce910253990",
                    "filename": "test.png",
                    "mime_type": "image/png",
                    "size": 8132,
                    "url": "/uploads/store/fdd86b0b8767eb6397988ce910253990"
                  },
                  "portion_amount": 800,
                  "portion_type_id": 0,
                  "price": "3064.0",
                  "procurement_price": "100.0",
                  "sold_by_weight": false,
                  "stock": {
                  },
                  "subgroup_id": null,
                  "subgroup_title": null,
                  "tax_amount": {
                    "А": 1520
                  },
                  "tax_group_id": 1,
                  "title": "Est dolore quidem qui.",
                  "unit_type_id": 0,
                  "unit_type_name": null,
                  "updated_at": "2021-03-22T13:51:49.603+02:00",
                  "user_id": 103928
                },
                {
                  "id": "0d3082ad-f4e0-4734-9716-dc6b4ffd49bb",
                  "alter_number": null,
                  "alter_title": null,
                  "bookmark_ids": [

                  ],
                  "category_id": "6718d176-b9d2-42d2-a22d-afb7728f0303",
                  "category_type_id": 5704445,
                  "classifier_code": "123456789012345",
                  "classifier_type_id": 1,
                  "created_at": "2021-03-22T13:51:49.581+02:00",
                  "is_free_price": false,
                  "is_without_number": false,
                  "number": "3933933345",
                  "owner_id": 103927,
                  "partner": {
                    "id": 7706,
                    "code": null,
                    "created_at": null,
                    "name": null,
                    "partner_type_id": null,
                    "state": null,
                    "title": "Just for test",
                    "updated_at": null
                  },
                  "partner_id": 7706,
                  "partner_title": "Just for test",
                  "portion_amount": 800,
                  "portion_type_id": 0,
                  "price": "7549.0",
                  "procurement_price": "100.0",
                  "sold_by_weight": false,
                  "stock": {
                  },
                  "subgroup_id": null,
                  "subgroup_title": null,
                  "tax_amount": {
                    "А": 360
                  },
                  "tax_group_id": 1,
                  "title": "Eum alias doloremque facere.",
                  "unit_type_id": 0,
                  "unit_type_name": null,
                  "updated_at": "2021-03-22T13:51:49.581+02:00",
                  "user_id": 103928
                }
              ],
              "meta": {
                "current_page": 1,
                "next_page": null,
                "prev_page": null,
                "total_pages": 1,
                "total_count": 2,
                "limit_value": 25,
                "offset_value": 0
              }
            }

### Створення тового товару [POST]

+ Request (application/json)
    + Headers
            X-Api-Key: cfffe923a8137cec9aa1f7f6354f023b
    + Body
            {
              "product": {
                "number": "6930426566",
                "title": "Optio numquam molestiae amet.",
                "unit_type_id": 0,
                "portion_amount": 800,
                "portion_type_id": 0,
                "price": 71.89,
                "procurement_price": 50.0,
                "classifier_type_id": 2,
                "classifier_code": "543210123456789",
                "tax_group_id": 1,
                "category_id": "992670be-c998-4169-a62c-63bfe2a4e1a0",
                "category_type_id": 2201372,
                "sold_by_weight": false,
                "bookmark_ids": [

                ],
                "user_id": 103930,
                "owner_id": 103929
              }
            }

+ Response 201 (application/json)
    + Headers
    + Body

            {
              "data": {
                "id": "7f527f59-bcdb-4bbd-a187-00b6ee7b68f5"
              },
              "meta": {
              }
            }

+ Request (application/json)
    + Headers
            X-Api-Key: 5b12e3138639a3e9868e9bb743767e32
    + Body
            {
              "product": {
                "number": "6930426566",
                "title": "",
                "unit_type_id": 0,
                "portion_amount": 800,
                "portion_type_id": 0,
                "price": 71.89,
                "procurement_price": 50.0,
                "classifier_type_id": 2,
                "classifier_code": "543210123456789",
                "tax_group_id": 1,
                "category_id": "8c9b52af-c46a-498c-b6ce-400e23b5b8a8",
                "category_type_id": 1771111,
                "sold_by_weight": false,
                "bookmark_ids": [

                ],
                "user_id": 103932,
                "owner_id": 103931
              }
            }

+ Response 422 (application/json)
    + Headers
    + Body
            {
              "errors": {
                "title": [
                  {
                    "error": "blank"
                  }
                ]
              }
            }

## Операції з товаром [/api/v1/inventory/products/{id}]

+ Parameters
  + id (required, string) - Ідентифікатор товару

### Отримання інформації по товару [GET]

+ Request (application/json)
    + Headers
            X-Api-Key: abde74ae188eec533a33b8cd15622930

+ Response 200 (application/json)
    + Headers
    + Body
            {
              "data": {
                "id": "f747fbc5-4782-4489-92b4-51691dea1f63",
                "alter_number": null,
                "alter_title": null,
                "bookmark_ids": [

                ],
                "cards": [
                  {
                    "id": 10789,
                    "count": "100.0",
                    "counting_enabled": true,
                    "created_at": "2021-03-22T13:51:50.148+02:00",
                    "owner_id": null,
                    "product_id": "f747fbc5-4782-4489-92b4-51691dea1f63",
                    "shop_id": 37933,
                    "updated_at": "2021-03-22T13:51:50.148+02:00"
                  },
                  {
                    "id": 10790,
                    "count": "10.0",
                    "counting_enabled": true,
                    "created_at": "2021-03-22T13:51:50.149+02:00",
                    "owner_id": null,
                    "product_id": "f747fbc5-4782-4489-92b4-51691dea1f63",
                    "shop_id": 37934,
                    "updated_at": "2021-03-22T13:51:50.149+02:00"
                  }
                ],
                "category": {
                  "id": "72c1f7f7-751d-4caf-a0c7-5c8b0314a9f2",
                  "color_id": 0,
                  "created_at": "2021-03-22T13:51:50.110+02:00",
                  "parent_id": null,
                  "partner_id": 7711,
                  "products_count": 0,
                  "title": "Velit enim repellendus reprehenderit.",
                  "updated_at": "2021-03-22T13:51:50.110+02:00"
                },
                "category_id": "72c1f7f7-751d-4caf-a0c7-5c8b0314a9f2",
                "category_type": {
                  "id": 9000681,
                  "parent_id": null,
                  "title": "Corporis consectetur deserunt quae."
                },
                "category_type_id": 9000681,
                "classifier_code": "123456789012345",
                "classifier_type_id": 1,
                "created_at": "2021-03-22T13:51:50.114+02:00",
                "is_free_price": false,
                "is_without_number": false,
                "number": "1481689397",
                "owner_id": 103937,
                "picture": {
                  "id": "6dc1f53c8138e3001bb3099f8d04dc8d",
                  "filename": "test.png",
                  "mime_type": "image/png",
                  "size": 8132,
                  "url": "/uploads/store/6dc1f53c8138e3001bb3099f8d04dc8d"
                },
                "portion_amount": 800,
                "portion_type_id": 0,
                "price": "7829.0",
                "procurement_price": "100.0",
                "sold_by_weight": false,
                "subgroup_id": null,
                "tax_amount": {
                  "А": 540
                },
                "tax_group_id": 1,
                "title": "Sit ab delectus non.",
                "unit_type_id": 0,
                "unit_type_name": null,
                "updated_at": "2021-03-22T13:51:50.114+02:00",
                "user_id": 103938
              },
              "meta": {
              }
            }

### Оновлення даних товару [PATCH]

+ Request (application/json)
    + Headers
            X-Api-Key: 87bd6d511c48a8febd4b165c1ab157f5
    + Body
            {
              "product": {
                "id": "e29eaab0-f846-40cf-a445-db81f9101a25",
                "number": "6930426566",
                "title": "Optio numquam molestiae amet.",
                "unit_type_id": 0,
                "portion_amount": 800,
                "portion_type_id": 0,
                "price": 71.89,
                "procurement_price": 50.0,
                "classifier_type_id": 2,
                "classifier_code": "543210123456789",
                "tax_group_id": 1,
                "category_id": "4de477d4-316b-4149-83aa-c25f41aa2c4d",
                "category_type_id": 8498814,
                "sold_by_weight": false,
                "bookmark_ids": [

                ],
                "user_id": 103942,
                "owner_id": 103941
              }
            }

+ Response 200 (application/json)
    + Headers
    + Body
            {
              "data": {
                "id": "e29eaab0-f846-40cf-a445-db81f9101a25"
              },
              "meta": {
              }
            }

### Видалення товару [DELETE]

+ Request (application/json)
    + Headers
            X-Api-Key: f00513f37da41ddafe03ae711d9e3eae

+ Response 200 (application/json)
    + Headers
    + Body
            {
              "data": {
                "id": "f1fda3a6-b8c1-4c6f-91b0-6db30699c5fc"
              },
              "meta": {
              }
            }

# Group Облік товарів

## Список інвентарних карток [/api/v1/inventory/cards]

+ Parameters
  + id (optional, integer) - Ідентифікатор
  + product_id (optional, string) - Ідентифікатор товару
  + shop_id (optional, integer) - Ідентифікатор торгової точки
  + counting_enabled (optional, nil | true | false) - Ознака відслідковування залишків
  + count (optional, nil | float) - Кількість

### Список інвентарних карток [GET]

+ Request 200 OK. Приклад запиту отримання списку інвентарних карток (application/json)

    + Headers

            X-Api-Key: 1dce5288d2c02e596ab07886e3f3c140

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 10767,
                  "count": "3.5",
                  "counting_enabled": true,
                  "created_at": "2021-03-22T13:51:46.815+02:00",
                  "owner_id": 103881,
                  "product": {
                    "id": "a327c691-1542-4b65-b8cd-05c51847bcad",
                    "alter_number": null,
                    "alter_title": null,
                    "bookmark_ids": [

                    ],
                    "category_id": "837cd759-fb0a-44b4-9fdb-91b0b9c7b112",
                    "category_type_id": 5629779,
                    "classifier_code": "123456789012345",
                    "classifier_type_id": 1,
                    "created_at": "2021-03-22T13:51:46.774+02:00",
                    "is_free_price": false,
                    "is_without_number": false,
                    "number": "1428005484",
                    "owner_id": 103881,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": "5483.0",
                    "procurement_price": "100.0",
                    "sold_by_weight": false,
                    "subgroup_id": null,
                    "tax_amount": {
                      "А": 1040
                    },
                    "tax_group_id": 1,
                    "title": "Doloremque et eligendi laborum.",
                    "unit_type_id": 0,
                    "unit_type_name": null,
                    "updated_at": "2021-03-22T13:51:46.774+02:00",
                    "user_id": 103882
                  },
                  "product_id": "a327c691-1542-4b65-b8cd-05c51847bcad",
                  "shop": {
                    "id": 37916,
                    "business_category_id": 1,
                    "created_at": "2021-03-22T13:51:46.796+02:00",
                    "email": "hye@beerdickinson.co",
                    "employees_count": 0,
                    "fiscal_numbers": [

                    ],
                    "fiscalization_enabled": false,
                    "is_excise_taxation": false,
                    "is_vat_taxation": true,
                    "owner_id": 103881,
                    "phone_number": "0971234567",
                    "state": 0,
                    "terminals_count": 0,
                    "title": "Test shop",
                    "updated_at": "2021-03-22T13:51:46.796+02:00",
                    "website_url": "https://www.example.com"
                  },
                  "shop_id": 37916,
                  "updated_at": "2021-03-22T13:51:46.815+02:00"
                },
                {
                  "id": 10766,
                  "count": "3.5",
                  "counting_enabled": true,
                  "created_at": "2021-03-22T13:51:46.813+02:00",
                  "owner_id": 103881,
                  "product": {
                    "id": "1744c191-498b-48bf-8e0c-19792b3d17c4",
                    "alter_number": null,
                    "alter_title": null,
                    "bookmark_ids": [

                    ],
                    "category_id": "2c8c0740-f940-459d-a6dd-b06373f99656",
                    "category_type_id": 6496175,
                    "classifier_code": "123456789012345",
                    "classifier_type_id": 1,
                    "created_at": "2021-03-22T13:51:46.745+02:00",
                    "is_free_price": false,
                    "is_without_number": false,
                    "number": "1264404741",
                    "owner_id": 103881,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": "6145.0",
                    "procurement_price": "100.0",
                    "sold_by_weight": false,
                    "subgroup_id": null,
                    "tax_amount": {
                      "А": 1960
                    },
                    "tax_group_id": 1,
                    "title": "Fuga animi repellendus tenetur.",
                    "unit_type_id": 0,
                    "unit_type_name": null,
                    "updated_at": "2021-03-22T13:51:46.745+02:00",
                    "user_id": 103882
                  },
                  "product_id": "1744c191-498b-48bf-8e0c-19792b3d17c4",
                  "shop": {
                    "id": 37916,
                    "business_category_id": 1,
                    "created_at": "2021-03-22T13:51:46.796+02:00",
                    "email": "hye@beerdickinson.co",
                    "employees_count": 0,
                    "fiscal_numbers": [

                    ],
                    "fiscalization_enabled": false,
                    "is_excise_taxation": false,
                    "is_vat_taxation": true,
                    "owner_id": 103881,
                    "phone_number": "0971234567",
                    "state": 0,
                    "terminals_count": 0,
                    "title": "Test shop",
                    "updated_at": "2021-03-22T13:51:46.796+02:00",
                    "website_url": "https://www.example.com"
                  },
                  "shop_id": 37916,
                  "updated_at": "2021-03-22T13:51:46.813+02:00"
                },
                {
                  "id": 10765,
                  "count": "3.5",
                  "counting_enabled": true,
                  "created_at": "2021-03-22T13:51:46.812+02:00",
                  "owner_id": 103881,
                  "product": {
                    "id": "a327c691-1542-4b65-b8cd-05c51847bcad",
                    "alter_number": null,
                    "alter_title": null,
                    "bookmark_ids": [

                    ],
                    "category_id": "837cd759-fb0a-44b4-9fdb-91b0b9c7b112",
                    "category_type_id": 5629779,
                    "classifier_code": "123456789012345",
                    "classifier_type_id": 1,
                    "created_at": "2021-03-22T13:51:46.774+02:00",
                    "is_free_price": false,
                    "is_without_number": false,
                    "number": "1428005484",
                    "owner_id": 103881,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": "5483.0",
                    "procurement_price": "100.0",
                    "sold_by_weight": false,
                    "subgroup_id": null,
                    "tax_amount": {
                      "А": 1040
                    },
                    "tax_group_id": 1,
                    "title": "Doloremque et eligendi laborum.",
                    "unit_type_id": 0,
                    "unit_type_name": null,
                    "updated_at": "2021-03-22T13:51:46.774+02:00",
                    "user_id": 103882
                  },
                  "product_id": "a327c691-1542-4b65-b8cd-05c51847bcad",
                  "shop": {
                    "id": 37915,
                    "business_category_id": 1,
                    "created_at": "2021-03-22T13:51:46.764+02:00",
                    "email": "evangeline@vandervort.biz",
                    "employees_count": 0,
                    "fiscal_numbers": [

                    ],
                    "fiscalization_enabled": false,
                    "is_excise_taxation": false,
                    "is_vat_taxation": true,
                    "owner_id": 103881,
                    "phone_number": "0971234567",
                    "state": 0,
                    "terminals_count": 0,
                    "title": "Test shop",
                    "updated_at": "2021-03-22T13:51:46.764+02:00",
                    "website_url": "https://www.example.com"
                  },
                  "shop_id": 37915,
                  "updated_at": "2021-03-22T13:51:46.812+02:00"
                },
                {
                  "id": 10764,
                  "count": "3.5",
                  "counting_enabled": true,
                  "created_at": "2021-03-22T13:51:46.807+02:00",
                  "owner_id": 103881,
                  "product": {
                    "id": "1744c191-498b-48bf-8e0c-19792b3d17c4",
                    "alter_number": null,
                    "alter_title": null,
                    "bookmark_ids": [

                    ],
                    "category_id": "2c8c0740-f940-459d-a6dd-b06373f99656",
                    "category_type_id": 6496175,
                    "classifier_code": "123456789012345",
                    "classifier_type_id": 1,
                    "created_at": "2021-03-22T13:51:46.745+02:00",
                    "is_free_price": false,
                    "is_without_number": false,
                    "number": "1264404741",
                    "owner_id": 103881,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": "6145.0",
                    "procurement_price": "100.0",
                    "sold_by_weight": false,
                    "subgroup_id": null,
                    "tax_amount": {
                      "А": 1960
                    },
                    "tax_group_id": 1,
                    "title": "Fuga animi repellendus tenetur.",
                    "unit_type_id": 0,
                    "unit_type_name": null,
                    "updated_at": "2021-03-22T13:51:46.745+02:00",
                    "user_id": 103882
                  },
                  "product_id": "1744c191-498b-48bf-8e0c-19792b3d17c4",
                  "shop": {
                    "id": 37915,
                    "business_category_id": 1,
                    "created_at": "2021-03-22T13:51:46.764+02:00",
                    "email": "evangeline@vandervort.biz",
                    "employees_count": 0,
                    "fiscal_numbers": [

                    ],
                    "fiscalization_enabled": false,
                    "is_excise_taxation": false,
                    "is_vat_taxation": true,
                    "owner_id": 103881,
                    "phone_number": "0971234567",
                    "state": 0,
                    "terminals_count": 0,
                    "title": "Test shop",
                    "updated_at": "2021-03-22T13:51:46.764+02:00",
                    "website_url": "https://www.example.com"
                  },
                  "shop_id": 37915,
                  "updated_at": "2021-03-22T13:51:46.807+02:00"
                }
              ],
              "meta": {
                "total_count": 4
              }
            }

+ Request 200 OK. Приклад запиту отримання інвентарних карток відфільтрованих по торговій точці (application/json)

    + Headers

            X-Api-Key: b92cb3ad06762a940ee138ef557ee63a

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 10769,
                  "count": "3.5",
                  "counting_enabled": true,
                  "created_at": "2021-03-22T13:51:46.981+02:00",
                  "owner_id": 103883,
                  "product": {
                    "id": "f7c2256d-de1e-45ec-a9f2-a2d07a12c786",
                    "alter_number": null,
                    "alter_title": null,
                    "bookmark_ids": [

                    ],
                    "category_id": "5d73db37-0c3d-4fd1-b122-742555fcc6a8",
                    "category_type_id": 2368424,
                    "classifier_code": "123456789012345",
                    "classifier_type_id": 1,
                    "created_at": "2021-03-22T13:51:46.944+02:00",
                    "is_free_price": false,
                    "is_without_number": false,
                    "number": "7808125447",
                    "owner_id": 103883,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": "4787.0",
                    "procurement_price": "100.0",
                    "sold_by_weight": false,
                    "subgroup_id": null,
                    "tax_amount": {
                      "А": 520
                    },
                    "tax_group_id": 1,
                    "title": "Fugit qui officiis velit.",
                    "unit_type_id": 0,
                    "unit_type_name": null,
                    "updated_at": "2021-03-22T13:51:46.945+02:00",
                    "user_id": 103884
                  },
                  "product_id": "f7c2256d-de1e-45ec-a9f2-a2d07a12c786",
                  "shop": {
                    "id": 37917,
                    "business_category_id": 1,
                    "created_at": "2021-03-22T13:51:46.931+02:00",
                    "email": "errolschaden@sawayncain.info",
                    "employees_count": 0,
                    "fiscal_numbers": [

                    ],
                    "fiscalization_enabled": false,
                    "is_excise_taxation": false,
                    "is_vat_taxation": true,
                    "owner_id": 103883,
                    "phone_number": "0971234567",
                    "state": 0,
                    "terminals_count": 0,
                    "title": "Test shop",
                    "updated_at": "2021-03-22T13:51:46.932+02:00",
                    "website_url": "https://www.example.com"
                  },
                  "shop_id": 37917,
                  "updated_at": "2021-03-22T13:51:46.981+02:00"
                },
                {
                  "id": 10768,
                  "count": "3.5",
                  "counting_enabled": true,
                  "created_at": "2021-03-22T13:51:46.976+02:00",
                  "owner_id": 103883,
                  "product": {
                    "id": "ef4f9bf2-45f8-4855-9605-b35e634992b3",
                    "alter_number": null,
                    "alter_title": null,
                    "bookmark_ids": [

                    ],
                    "category_id": "36c1b429-e104-4b33-b92d-f7fae8e77f56",
                    "category_type_id": 1632884,
                    "classifier_code": "123456789012345",
                    "classifier_type_id": 1,
                    "created_at": "2021-03-22T13:51:46.910+02:00",
                    "is_free_price": false,
                    "is_without_number": false,
                    "number": "2554591912",
                    "owner_id": 103883,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": "7259.0",
                    "procurement_price": "100.0",
                    "sold_by_weight": false,
                    "subgroup_id": null,
                    "tax_amount": {
                      "А": 1580
                    },
                    "tax_group_id": 1,
                    "title": "Amet omnis qui voluptate.",
                    "unit_type_id": 0,
                    "unit_type_name": null,
                    "updated_at": "2021-03-22T13:51:46.910+02:00",
                    "user_id": 103884
                  },
                  "product_id": "ef4f9bf2-45f8-4855-9605-b35e634992b3",
                  "shop": {
                    "id": 37917,
                    "business_category_id": 1,
                    "created_at": "2021-03-22T13:51:46.931+02:00",
                    "email": "errolschaden@sawayncain.info",
                    "employees_count": 0,
                    "fiscal_numbers": [

                    ],
                    "fiscalization_enabled": false,
                    "is_excise_taxation": false,
                    "is_vat_taxation": true,
                    "owner_id": 103883,
                    "phone_number": "0971234567",
                    "state": 0,
                    "terminals_count": 0,
                    "title": "Test shop",
                    "updated_at": "2021-03-22T13:51:46.932+02:00",
                    "website_url": "https://www.example.com"
                  },
                  "shop_id": 37917,
                  "updated_at": "2021-03-22T13:51:46.976+02:00"
                }
              ],
              "meta": {
                "total_count": 2
              }
            }

### Створення інвентарної картки [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: 5f9135677a14fa4b74cc5a93f67cff7a

    + Body

            {
              "card": {
                "product_id": "0ee5ca34-a864-4ca1-a144-f0f4fe48e036",
                "shop_id": 37919,
                "counting_enabled": true,
                "count": 5.0
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 10776,
                "count": "5.0",
                "counting_enabled": true,
                "created_at": "2021-03-22T13:51:47.187+02:00",
                "owner_id": null,
                "product_id": "0ee5ca34-a864-4ca1-a144-f0f4fe48e036",
                "shop_id": 37919,
                "updated_at": "2021-03-22T13:51:47.187+02:00"
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: 401c27cdaabfe75a89e51c741ecf4807

    + Body

            {
              "card": {
                "product_id": "25e1b5b8-bff4-434c-8131-0fca9950c253",
                "shop_id": 37923,
                "counting_enabled": true,
                "count": 5.0
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "product_id": [
                  {
                    "error": "invalid"
                  }
                ]
              }
            }

## Операції з інвентарною карткою [/api/v1/inventory/cards/{id}]

+ Parameters
  + id (optional, integer) - Ідентифікатор
  + product_id (optional, string) - Ідентифікатор товару
  + shop_id (optional, integer) - Ідентифікатор торгової точки
  + counting_enabled (optional, nil | true | false) - Ознака відслідковування залишків
  + count (optional, nil | float) - Кількість

### Перегляд даних інвентарної картки [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: fc970d0a5f671adefd160d503e0cc7db

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 10785,
                "count": "3.5",
                "counting_enabled": true,
                "created_at": "2021-03-22T13:51:47.550+02:00",
                "owner_id": 103891,
                "product": {
                  "id": "52f87f5e-9d97-4f8a-b9ed-1af1ef03411e",
                  "alter_number": null,
                  "alter_title": null,
                  "bookmark_ids": [

                  ],
                  "category_id": "6d20304d-589d-4ef4-8a23-302b30449191",
                  "category_type_id": 4203449,
                  "classifier_code": "123456789012345",
                  "classifier_type_id": 1,
                  "created_at": "2021-03-22T13:51:47.485+02:00",
                  "is_free_price": false,
                  "is_without_number": false,
                  "number": "7565420032",
                  "owner_id": 103891,
                  "portion_amount": 800,
                  "portion_type_id": 0,
                  "price": "9267.0",
                  "procurement_price": "100.0",
                  "sold_by_weight": false,
                  "subgroup_id": null,
                  "tax_amount": {
                    "А": 1380
                  },
                  "tax_group_id": 1,
                  "title": "Dignissimos aut rem modi.",
                  "unit_type_id": 0,
                  "unit_type_name": null,
                  "updated_at": "2021-03-22T13:51:47.485+02:00",
                  "user_id": 103892
                },
                "product_id": "52f87f5e-9d97-4f8a-b9ed-1af1ef03411e",
                "shop": {
                  "id": 37925,
                  "business_category_id": 1,
                  "created_at": "2021-03-22T13:51:47.518+02:00",
                  "email": "marty@okuneva.co",
                  "employees_count": 0,
                  "fiscal_numbers": [

                  ],
                  "fiscalization_enabled": false,
                  "is_excise_taxation": false,
                  "is_vat_taxation": true,
                  "owner_id": 103891,
                  "phone_number": "0971234567",
                  "state": 0,
                  "terminals_count": 0,
                  "title": "Test shop",
                  "updated_at": "2021-03-22T13:51:47.518+02:00",
                  "website_url": "https://www.example.com"
                },
                "shop_id": 37925,
                "updated_at": "2021-03-22T13:51:47.550+02:00"
              },
              "meta": {
              }
            }

### Оновлення даних в інвентарній картці [PUT]

+ Request (application/json)

    + Headers

            X-Api-Key: f528089f161e0bd7c4e0590811388ad4

    + Body

            {
              "card": {
                "id": 10786,
                "shop_id": 37928,
                "counting_enabled": true,
                "count": 9.99
              }
            }

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 10786
              },
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: f0233ef824ffe8b139d7ecb9ede94128

    + Body

            {
              "card": {
                "id": 10787,
                "shop_id": 37930,
                "counting_enabled": true,
                "count": 9.99,
                "product_id": "wrong"
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "product_id": [
                  {
                    "error": "invalid"
                  }
                ]
              }
            }

### Видалення інвентарної картки [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: a9fa0d2ec6bf31dcc07e32a7d7f80735

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 10788
              },
              "meta": {
              }
            }
# Group Товарні підгрупи

## Список товарних підгруп [/api/v1/inventory/product_subgroups]

+ Parameters
  + id (optional, integer) - Ідентифікатор товарної підгрупи
  + title (optional, string) - Назва товарної підгрупи

### Отримання списку товарних підгруп [GET]

+ Request (application/json)

    + Headers

            X-Api-Key: bbce5ada3c6c64924c59e914fac829e7

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": 7277,
                  "created_at": "2021-03-22T13:51:49.301+02:00",
                  "title": "Ut facilis nesciunt laborum.",
                  "updated_at": "2021-03-22T13:51:49.301+02:00"
                }
              ],
              "meta": {
                "total_count": 1
              }
            }

### Створення товарної підгрупи [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: 19c7c602663bb906eb15b617493b9fb2

    + Body

            {
              "subgroup": {
                "title": "Aliquid quod omnis nostrum."
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
  "data": {
    "id": 7279,
    "created_at": "2021-03-22T13:51:49.411+02:00",
    "title": "Aliquid quod omnis nostrum.",
    "updated_at": "2021-03-22T13:51:49.411+02:00"
  },
  "meta": {
  }
}

+ Request (application/json)

    + Headers

            X-Api-Key: cc7b4be77b4e9984b468598abe4e1091

    + Body

            {
              "subgroup": {
                "title": ""
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "title": [
                  {
                    "error": "blank"
                  }
                ]
              }
            }

## Операції з товарною підгрупою [/api/v1/inventory/product_subgroups/{id}]

+ Parameters
  + id (optional, integer) - Ідентифікатор товарної підгрупи
  + title (optional, string) - Назва товарної підгрупи

### Оновлення інформації про товарну підгрупу [PUT]

+ Request (application/json)

    + Headers

            X-Api-Key: 032f3d303103d82a5f909dab840c70bd

    + Body

            {
              "subgroup": {
                "id": 7280,
                "title": "Aliquid quod omnis nostrum."
              }
            }

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 7280,
                "created_at": "2021-03-22T13:51:49.467+02:00",
                "title": "Aliquid quod omnis nostrum.",
                "updated_at": "2021-03-22T13:51:49.467+02:00"
              },
              "meta": {
              }
            }

### Видалення товарної підгрупи [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: ab1d764e1f00262d12fa4a2d50f7efa2

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": {
                "id": 7281,
                "created_at": "2021-03-22T13:51:49.520+02:00",
                "title": "Id voluptatem dolorum facilis.",
                "updated_at": "2021-03-22T13:51:49.520+02:00"
              },
              "meta": {
              }
            }
# Group Імпорт

## Каталоги - групова обробка [/api/v1/inventory/categories/batch]

### Групове створення каталогів [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: ffb3860b948c0e62915d73e73007f869

    + Body

            {
              "batch": {
                "categories": [
                  {
                    "title": "Natus et quod voluptas.",
                    "color": 2
                  },
                  {
                    "title": "Natus et quod voluptas.",
                    "color": 2
                  },
                  {
                    "title": "Natus et quod voluptas.",
                    "color": 2
                  }
                ]
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": "3fa7df7a-c7e6-4f40-833b-e49e7ae5dc79",
                  "color_id": null,
                  "created_at": "2021-03-22T11:51:48.552+02:00",
                  "parent_id": null,
                  "partner_id": null,
                  "products_count": 0,
                  "shop_ids": [

                  ],
                  "title": "Natus et quod voluptas.",
                  "updated_at": "2021-03-22T11:51:48.552+02:00"
                },
                {
                  "id": "26bb1a4c-f28b-4900-b7eb-34e4e8547144",
                  "color_id": null,
                  "created_at": "2021-03-22T11:51:48.553+02:00",
                  "parent_id": null,
                  "partner_id": null,
                  "products_count": 0,
                  "shop_ids": [

                  ],
                  "title": "Natus et quod voluptas.",
                  "updated_at": "2021-03-22T11:51:48.553+02:00"
                },
                {
                  "id": "4f8c8f9d-de32-4e82-8629-2dbe8d3c1489",
                  "color_id": null,
                  "created_at": "2021-03-22T11:51:48.555+02:00",
                  "parent_id": null,
                  "partner_id": null,
                  "products_count": 0,
                  "shop_ids": [

                  ],
                  "title": "Natus et quod voluptas.",
                  "updated_at": "2021-03-22T11:51:48.555+02:00"
                }
              ],
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: 69d46eb6055599a7676f8c2c47bb7a50

    + Body

            {
              "batch": {
                "categories": [
                  {
                    "title": "",
                    "color": 2
                  }
                ]
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "categories": [
                  {
                    "error": "invalid"
                  }
                ]
              }
            }

### Групове видалення каталогів [DELETE]

+ Request (application/json)

    + Headers

            X-Api-Key: 0de5ebb3f1f41f08eef93549a1e1aeef

    + Body

            {
              "batch": {
                "ids": [
                  "63301fca-b333-47cd-aa03-32965a9326d2",
                  "ef4f25b0-8671-4cfc-acc0-dba73327be9b",
                  "dee14390-a852-4fca-8ca3-a815ce569fc5"
                ]
              }
            }

+ Response 200 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": "63301fca-b333-47cd-aa03-32965a9326d2",
                  "color_id": 0,
                  "created_at": "2021-03-22T13:51:48.629+02:00",
                  "parent_id": null,
                  "partner_id": null,
                  "products_count": 0,
                  "shop_ids": [

                  ],
                  "title": "Ducimus esse molestiae dolorem.",
                  "updated_at": "2021-03-22T13:51:48.629+02:00"
                },
                {
                  "id": "ef4f25b0-8671-4cfc-acc0-dba73327be9b",
                  "color_id": 0,
                  "created_at": "2021-03-22T13:51:48.631+02:00",
                  "parent_id": null,
                  "partner_id": null,
                  "products_count": 0,
                  "shop_ids": [

                  ],
                  "title": "Maiores unde repellat dolorem.",
                  "updated_at": "2021-03-22T13:51:48.631+02:00"
                },
                {
                  "id": "dee14390-a852-4fca-8ca3-a815ce569fc5",
                  "color_id": 0,
                  "created_at": "2021-03-22T13:51:48.633+02:00",
                  "parent_id": null,
                  "partner_id": null,
                  "products_count": 0,
                  "shop_ids": [

                  ],
                  "title": "Adipisci ratione beatae recusandae.",
                  "updated_at": "2021-03-22T13:51:48.633+02:00"
                }
              ],
              "meta": {
              }
            }

## Товари - групова обробка [/api/v1/inventory/products/batch]

### Групове створення товарів [POST]

+ Request (application/json)

    + Headers

            X-Api-Key: b4838c2362eb36dbf2929868a0969865

    + Body

            {
              "batch": {
                "products": [
                  {
                    "number": "6930426566",
                    "title": "Optio numquam molestiae amet.",
                    "unit_type_id": 0,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": 71.89,
                    "procurement_price": 50.0,
                    "classifier_type_id": 2,
                    "classifier_code": "543210123456789",
                    "tax_group_id": 1,
                    "category_id": "b3c286e0-1823-4c2b-a850-12f7fd921020",
                    "category_type_id": 2938762,
                    "sold_by_weight": false,
                    "bookmark_ids": [

                    ]
                  },
                  {
                    "number": "6930426566",
                    "title": "Optio numquam molestiae amet.",
                    "unit_type_id": 0,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": 71.89,
                    "procurement_price": 50.0,
                    "classifier_type_id": 2,
                    "classifier_code": "543210123456789",
                    "tax_group_id": 1,
                    "category_id": "b3c286e0-1823-4c2b-a850-12f7fd921020",
                    "category_type_id": 2938762,
                    "sold_by_weight": false,
                    "bookmark_ids": [

                    ]
                  },
                  {
                    "number": "6930426566",
                    "title": "Optio numquam molestiae amet.",
                    "unit_type_id": 0,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": 71.89,
                    "procurement_price": 50.0,
                    "classifier_type_id": 2,
                    "classifier_code": "543210123456789",
                    "tax_group_id": 1,
                    "category_id": "b3c286e0-1823-4c2b-a850-12f7fd921020",
                    "category_type_id": 2938762,
                    "sold_by_weight": false,
                    "bookmark_ids": [

                    ]
                  }
                ]
              }
            }

+ Response 201 (application/json)

    + Headers



    + Body

            {
              "data": [
                {
                  "id": "be7fd16e-25b4-4389-996d-08b80f69d6c5"
                },
                {
                  "id": "6e7b9e4d-d47d-481b-ae53-b5e751454a2d"
                },
                {
                  "id": "0e393eac-6bc3-4364-a60e-16ffdd3cbbde"
                }
              ],
              "meta": {
              }
            }

+ Request (application/json)

    + Headers

            X-Api-Key: e00acb5d222b1da3857ae965685ac877

    + Body

            {
              "batch": {
                "products": [
                  {
                    "number": "6930426566",
                    "title": "",
                    "unit_type_id": 0,
                    "portion_amount": 800,
                    "portion_type_id": 0,
                    "price": 71.89,
                    "procurement_price": 50.0,
                    "classifier_type_id": 2,
                    "classifier_code": "543210123456789",
                    "tax_group_id": 1,
                    "category_id": "6b6c4c16-7c52-4ff7-8fca-6723e388d3cb",
                    "category_type_id": 222,
                    "sold_by_weight": false,
                    "bookmark_ids": [

                    ]
                  }
                ]
              }
            }

+ Response 422 (application/json)

    + Headers



    + Body

            {
              "errors": {
                "products": [
                  {
                    "error": "invalid",
[...]
